#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}
#{set panelTitle:messages.get('bootstrap.crud.blank.title', type.modelName) /}

#{form @createMultiple(), method:'POST', enctype:'multipart/form-data'}

    #{bootstrap.form.image "images", showUpload:"false", maxFile:10 /}

    #{bootstrap.form.category type:"select" /}

    <button type="submit" class="btn btn-primary btn-upload #{if !util.ModuleUtil.cloudinaryEnable()}disabled#{/if}" data-loading-text="&{'cloudinary.upload.button.load'}"><i class="glyphicon glyphicon-upload"></i> &{'cloudinary.upload.button'}</button>
#{/form}