#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}
#{set panelTitle:messages.get('bootstrap.crud.blank.title', type.modelName) /}

#{form @create(), method:'POST', enctype:'multipart/form-data'}
    <div class="form-group">
        <label for="libelle">&{'cloudinary.libelle.label'}</label>
        <input type="text" class="form-control" id="libelle" name="libelle" value="${flash.libelle}" placeholder="&{'cloudinary.libelle.placeholder'}"/>
    </div>

    #{bootstrap.form.image "image", showUpload:"false" /}

    #{bootstrap.form.category type:"select" /}

    <button type="submit" class="btn btn-primary btn-upload #{if !util.ModuleUtil.cloudinaryEnable()}disabled#{/if}" data-loading-text="&{'cloudinary.upload.button.load'}"><i class="glyphicon glyphicon-upload"></i> &{'cloudinary.upload.button'}</button>
#{/form}