#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}
#{set panelTitle:messages.get('bootstrap.crud.show.title', type.modelName) /}

#{form action:@save(object._key()), enctype:'multipart/form-data'}
    <div class="form-group">
        <label for="libelle">&{'cloudinary.libelle.label'}</label>
        <input type="text" class="form-control" id="libelle" name="libelle" value="${object.libelle}" placeholder="&{'cloudinary.libelle.placeholder'}"/>
    </div>

    #{bootstrap.form.image "image", showImages:true, showUpload:"false", images:object /}

    #{if object.category}
        #{bootstrap.form.category selected:[object.category.id] /}
    #{/if}
    #{else}
        #{bootstrap.form.category /}
    #{/else}

    <button type="submit" class="btn btn-primary btn-upload #{if !util.ModuleUtil.cloudinaryEnable()}disabled#{/if}" data-loading-text="&{'cloudinary.upload.button.load'}"><i class="glyphicon glyphicon-upload"></i> &{'cloudinary.upload.button'}</button>
#{/form}

#{form @delete(object._key())}
    <p class="crudDelete">
        <input class="btn btn-danger" type="submit" value="&{'bootstrap.crud.delete', type.modelName}" />
    </p>
#{/form}