#{extends 'Layout/FO/layout.html' /}
#{set title:messages.get('board.forum') /}

#{set 'moreStyles'}
    #{press.stylesheet src:'board.css' /}
    #{get 'moreStyles' /}
#{/set}

<div class="board">
    #{bootstrap.board.breadcrumb forum /}

    #{form action:@Board.createTopic(forum.id), method:"POST"}
        #{bootstrap.form.text 'topic.titre' /}
        #{bootstrap.form.text 'topic.description' /}

        #{bootstrap.form.textarea 'post.contenu', wysiwyg:true, toolbar:'bbcode' /}

        <p class="crudButtons">
            <a class="btn btn-default" href="@{Board.forum(forum.id)}">&{'annuler'}</a>
            <input class="btn btn-primary" type="submit" name="_save" value="&{'bootstrap.crud.save', 'topic'}" />
        </p>
    #{/form}
</div>