#{extends 'Layout/FO/layout.html' /}
#{set title:messages.get('board.forum') /}

#{set 'moreStyles'}
    #{press.stylesheet src:'board.css' /}
    #{get 'moreStyles' /}
#{/set}

<div class="board">
    #{bootstrap.board.breadcrumb topic.forum /}

    #{form action:@Board.editTopic(topic.id), method:"POST"}
        #{bootstrap.form.text 'topic.titre', value:topic.titre /}
        #{bootstrap.form.text 'topic.description', value:topic.description /}

        #{bootstrap.form.textarea 'post.contenu', value:topic.getFirstPost(), wysiwyg:true, toolbar:'bbcode' /}

        <p class="crudButtons">
            <a class="btn btn-default" href="@{Board.topic(topic.id)}">&{'annuler'}</a>
            <input class="btn btn-primary" type="submit" name="_save" value="&{'bootstrap.crud.save', 'forum'}" />
        </p>
    #{/form}
</div>