#{extends 'Layout/BO/body.html' /}
#{set 'containerClasses'}bo#{/set}

<div class="panel panel-default">
    <div class="panel-heading">#{get 'adminTitle' /}</div>
    <div class="panel-body">

        #{include 'include/alert.html' /}

        #{doLayout /}
    </div>
</div>