#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}
#{set panelTitle:messages.get('crud.list.title', type.name) /}

#{list items:rootCat.childrenSet, as:'category'}
    %{
        List<models.Forum> forums = models.Forum.getForumListByCat(category);
    }%
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th colspan="6">
                    <a href="@{Categorys.show(category.id)}">${category}</a>
                    <br/>
                    <span>${category.description}</span>
                </th>
            </tr>
            #{if forums.size() > 0}
            <tr>
                <th>&{'titre'}</th>
                <th>&{'auteur'}</th>
                <th>&{'etat'}</th>
                <th>&{'topics'}</th>
                <th>&{'posts'}</th>
                <th>&{'access.right'}</th>
            </tr>
            #{/if}
        </thead>
        <tbody>
            #{list items:forums, as:'forum'}
            <tr>
                <td>
                    #{if forum.canView(null)}
                        <a href="@{Forums.show(forum.id)}">${forum}</a>
                    #{/if}
                    #{else}
                        <span>${forum}</span>
                    #{/else}
                    <br/>
                    <span>${forum.description}</span>
                </td>
                <td>
                    #{bootstrap.user forum.auteur /}
                </td>
                <td>
                    #{if forum.locked}
                        #{bootstrap.label 'locked', css:'success', center:true, icon:'fa fa-lock' /}
                    #{/if}
                    #{else}
                        #{bootstrap.label 'unlocked', css:'success', center:true, icon:'fa fa-unlock' /}
                    #{/else}
                </td>
                <td>
                    #{bootstrap.label forum.topics.size(), css:'primary', center:true /}
                </td>
                <td>
                    #{bootstrap.label forum.nbPosts, css:'primary', center:true /}
                </td>
                <td>
                    <div>&{'viewableBy'}#{bootstrap.role forum.viewableBy /}</div>
                    <div>&{'contribBy'}#{bootstrap.role forum.contribBy /}</div>
                    <div>&{'editableBy'}#{bootstrap.role forum.editableBy /}</div>
                </td>
            </tr>
            #{/list}
            #{else}
            <tr>
                <td colspan="6" class="text-center">
                    &{'forum.empty'}
                </td>
            </tr>
            #{/else}
            <tr>
                <td colspan="6" class="text-center">
                    <a href="@{Forums.blank(category.id)}" class="btn btn-primary btn-xs">&{'crud.add', 'un Forum dans cette catégorie'}</a>
                </td>
            </tr>
        </tbody>
    </table>
#{/list}
#{else}
    <div class="callout callout-danger">&{'forum.root.cat.not.found'}</div>
    %{
        models.Category forumRootCat = models.Category.find("byTitle", "Forum").first();
    }%
    <a class="btn btn-primary" href="@{Categorys.ajouter(forumRootCat.id)}">&{'crud.add', 'une Catégorie'}</a>
#{/else}