#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}

#{set panelTitle:messages.get('bootstrap.crud.blank.title', type.modelName) /}
#{form action:@create(), enctype:'multipart/form-data'}
    #{crud.form /}
    <p class="crudButtons">
        <a class="btn btn-default" href="@{list()}">&{'annuler'}</a>
        <input class="btn btn-primary" type="submit" name="_save" value="&{'bootstrap.crud.save', type.modelName}" />
        <input class="btn btn-default" type="submit" name="_saveAndContinue" value="&{'bootstrap.crud.saveAndContinue', type.modelName}" />
        <input class="btn btn-default" type="submit" name="_saveAndAddAnother" value="&{'bootstrap.crud.saveAndAddAnother', type.modelName}" />
    </p>
#{/form}