#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}
#{set panelTitle:messages.get('crud.list.title', type.name) /}

<div id="crudListTable" class="table-responsive">
    #{crud.table fields:['pseudo', 'email', 'roles', 'etat'], order:"1"}
        #{crud.custom 'roles'}
            #{bootstrap.roles object.roles /}
        #{/crud.custom}
        #{crud.custom 'etat'}
            #{bootstrap.etat object.etat /}
        #{/crud.custom}
    #{/crud.table}
</div>

<p id="crudListAdd">
    <a class="btn btn-primary" href="@{blank()}">&{'bootstrap.crud.add', type.modelName}</a>
</p>