%{
    models.Utilisateur user = controllers.Security.getLoggedMember();
    String formats  = util.ConfigurationUtil.getStringValue("avatar.ext");
    int maxWidth    = util.ConfigurationUtil.getIntValue("avatar.width.limit");
    int maxHeight   = util.ConfigurationUtil.getIntValue("avatar.height.limit");
}%
#{set 'moreStyles'}
    #{press.stylesheet src:'fileinput.min.css', compress:false /}
    #{get 'moreStyles' /}
#{/set}
#{set 'moreScripts'}
    #{press.script src:'fileinput.min.js', compress:false /}
    #{get 'moreScripts' /}
#{/set}

#{if user.avatar}
<div class="text-center avatar-wrapper">
    <img src="${user.avatar.url}" class="img-thumbnail" style="max-width:${maxWidth}px;max-height:${maxHeight}px;"/>
    #{form @Utilisateurs.deleteAvatar(user._key())}
    <p class="crudDelete">
        <input class="btn btn-danger" type="submit" value="&{'bootstrap.crud.delete', 'avatar'}" />
    </p>
    #{/form}
</div>
#{/if}

<div class="callout callout-info">&{'account.avatar.info', formats, maxWidth, maxHeight}</div>

#{form @avatar(), enctype:"multipart/form-data"}
<input class="fileinput" type="file" name="avatar" />
#{/form}

<script>
    $('document').ready(function(){
        $('.fileinput').fileinput({
            browseLabel: "&{'account.avatar.browse.label'}",
            uploadLabel: "&{'account.avatar.upload.label'}"
        });
    });
</script>