#{field _arg}
    #{if util.CaptchaUtil.captchaEnable()}
        #{set 'moreStyles'}
            #{press.stylesheet 'captcha.css' /}
            #{get 'moreStyles' /}
        #{/set}
        #{set 'moreScripts'}
            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
            #{get 'moreScripts' /}
        #{/set}
        <div class="form-group g-recaptcha-wrapper #{ifError _arg} has-error#{/ifError}">
            <div class="g-recaptcha" data-sitekey="${util.CaptchaUtil.getSiteKey()}"></div>
            #{ifError field.name}
                <span class="label label-danger">${field.error.raw()}</span>
            #{/ifError}
        </div>
    #{/if}
#{/field}