<div id="modal-delete"class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Suppression d'une catégorie</h4>
            </div>
            <div class="modal-body">
                <p>Etes-vous sûr de vouloir supprimer la catégorie <strong class="category-name"></strong> et tout ses contenus (Articles, Images, Documents...) ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger btn-delete-category">Suppimer</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

#{set 'moreStyles' }
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jsTree/default/style.css'}" />
    #{get 'moreStyles' /}
#{/set}
#{set 'moreScripts' }
    #{press.script src:'jstree/jstree.min.js', compress:false /}
    #{get 'moreScripts' /}
#{/set}

%{
  models.Category root = (_root)? models.Category.find("byTitle", (String)_root).first() : null;
  String checked = "check=0";
}%
#{if _selected}
    %{
        checked = "";
        for (Long idCheck : _selected) {
            checked += "&check="+idCheck;
        }
    }%
#{/if}
#{if root}
    %{
        rootCat = root.id;
        checked = "&"+checked;
    }%
#{/if}
#{else}
    %{
        checked = "?"+checked;
    }%
#{/else}

#{if _root && !root}
    <div class="callout callout-danger">&{'category.root.not.found', _root}</div>
#{/if}

<label for="category">&{'bootstrap.form.category.label'}</label>

<div class="category-option">
    <span class="btn btn-default btn-xs category-expand-all">&{'category.expand.all'}</span>
    <span class="btn btn-default btn-xs category-collapse-all">&{'category.collapse.all'}</span>
</div>

<div class="checkIds-wrapper"></div>
<div id="category" class="jsTree jsTreeSelect">
</div>

<script>
    $(document).ready(function(){
        var checkIds = [];

        function createInputHiddenArray(){
            $('.checkIds').remove();
            $.each( checkIds, function( key, value ) {
              $('.checkIds-wrapper').append('<input class="checkIds" name="#{if _name}${_name}#{/if}#{elseif _arg}${_arg}#{/elseif}#{else}category#{/else}.id" type="hidden" value="'+value+'"/>');
            });
        }

        var deleteCategoryNode = {};
        function deleteCategory() {
            $('#modal-delete').modal('hide');
            window.location = deleteAction({id: deleteCategoryNode.id});
        }

        $('#modal-delete').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var modal = $(this);
          var btn = modal.find('.btn-delete-category');
          console.log(deleteCategoryNode.text);
          modal.find('.category-name').text(deleteCategoryNode.text);
          btn.on('click', function (event){
            deleteCategory();
          });
        })

        var addAction = #{jsAction @Categorys.ajouter(':id') /}
        var editAction = #{jsAction @Categorys.show(':id') /}
        var updateAction = #{jsAction @Categorys.update(':id', ':parentId') /}
        var deleteAction = #{jsAction @Categorys.supprimer(':id') /}
        $('.jsTreeSelect').jstree({
           "core" : {
                "animation" : 100,
                'data' : {
                    #{if root}
                    'url' : "@{Categorys.load(root.id)}${checked.raw()}",
                    #{/if}
                    #{else}
                    'url' : "@{Categorys.load()}${checked.raw()}",
                    #{/else}
                    'dataType': 'JSON',
                    'data' : function (node) {
                      return { 'id' : node.id };
                    },
                    'strings' : {
                        'Loading ...' : 'Chargement...'
                    }
                },
               "themes" : {
                    "name" : "default",
                    "stripes" : true
               }
               #{if !_multiple}
                ,"multiple" : false
               #{/if}
           },
           "plugins" : [ "themes", "sort", "json_data", "ui"#{if _admin}, "contextmenu"#{/if}#{else}, "checkbox"#{/else}, "unique", "search"]
           #{if _admin}
              ,"contextmenu": {
                    "items": function ($node) {
                        return {
                            "Create": {
                                "separator_before": false,
                                "separator_after": false,
                                "label": "&{'jstree.add.category'}",
                                "icon": "glyphicon glyphicon-plus",
                                "action": function (obj) {
                                    window.location = addAction({id: $node.id});
                                }
                            },
                            "Rename": {
                                "separator_before": false,
                                "separator_after": false,
                                "label": "&{'jstree.edit.category'}",
                                "icon": "glyphicon glyphicon-pencil",
                                "action": function (obj) {
                                    window.location = editAction({id: $node.id});
                                }
                            },
                            "Delete": {
                                "separator_before": false,
                                "separator_after": false,
                                "label": "&{'jstree.delete.category'}",
                                "icon": "glyphicon glyphicon-minus",
                                "action": function (obj) {
                                    deleteCategoryNode = $node;
                                    $('#modal-delete').modal('show');
                                }
                            }
                        };
                    }
                }
           #{/if}
           #{else}
               ,"checkbox" : {
                   "three_state" : false
               }
           #{/else}
       })
       #{if !admin}
       .on('select_node.jstree',function(node, selected, event){
            checkIds = selected.node.id;
       }).on('changed.jstree',function(node, selected, event){
            if(selected.action){
                checkIds = selected.selected;
                createInputHiddenArray();
            }
       });
       #{/if}

       $('.category-expand-all').click(function(){
            $('.jsTreeSelect').jstree("open_all");
       });
       $('.category-collapse-all').click(function(){
            $('.jsTreeSelect').jstree("close_all");
       });
    });
</script>