#{field _arg}
    #{set 'moreStyles'}
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/iCheck/blue.css'}">
        #{get 'moreStyles' /}
    #{/set}
    #{set 'moreScripts' }
        <script src="@{'/public/javascripts/icheck.min.js'}"></script>
        #{get 'moreScripts' /}
    #{/set}
    <div class="form-group ${_class} #{ifError _arg}has-error#{/ifError}">
        <input id="${_arg}" type="checkbox" name="${_arg}" #{if _value == "true" || _value == true}checked="checked"#{/if}/>
        #{if _label}
            <label for="${_arg}">&nbsp;&{_label}</label>
        #{/if}
        #{else}
            <label for="${_arg}">&nbsp;&{_arg}</label>
        #{/else}
        #{ifError field.name}
            <span class="label label-danger">${field.error.raw()}</span>
        #{/ifError}
    </div>
    <script>
        $(document).ready(function(){
            // Chargement des Checkbox
            $("input[type='checkbox'], input[type='radio']").iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue'
              });
        });
    </script>
#{/field}