#{field _arg}
    #{set 'moreStyles'}
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/pick-a-color-1.2.3.min.css'}">
        #{get 'moreStyles' /}
    #{/set}
    #{set 'moreScripts' }
        #{press.script src:'tinycolor-0.9.14.min.js', compress:false /}
        #{press.script src:'pick-a-color-1.2.3.min.js', compress:false /}
        #{get 'moreScripts' /}
    #{/set}
    <div class="form-group #{ifError _arg}has-error#{/ifError}">
        #{if _label}
        <label for="${_label}">&nbsp;&{_label}</label>
        #{/if}
        <input #{if _label}id="${_label}"#{/if} class="pick-a-color form-control" type="input" name="${_arg}" #{if _value}value="${_value}"#{/if}/>
        #{ifError field.name}
            <span class="label label-danger">${field.error.raw()}</span>
        #{/ifError}
    </div>
    <script>
        $(document).ready(function(){
            $(".pick-a-color").pickAColor({
                inlineDropdown: true,
                showSavedColors: false,
                showAdvanced: false,
                allowBlank: false
            });
        });
    </script>
#{/field}