#{field _arg}
    #{set 'moreStyles'}
        #{press.stylesheet src:'Intimidatetime.min.css', compress:false /}
        #{get 'moreStyles' /}
    #{/set}
    #{set 'moreScripts'}
        #{press.script src:'Intimidatetime.min.js', compress:false /}
        #{press.script src:'Intimidatetime-fr.js', compress:false /}
        #{get 'moreScripts' /}
    #{/set}
    %{
        String escapeName = _arg.replace('object.', '').replace('.', '-');
        if (_label) {
            escapeName = _label.replace('.', '-');
        }
    }%
    <div class="form-group #{ifError _arg}has-error#{/ifError}">
        #{if _label}
        <label for="${escapeName}">&{_label}</label>
        #{/if}
        <div class='input-group date'>
            <input #{if escapeName}id="${escapeName}"#{/if} #{if _placeholder}placeholder="${_placeholder}"#{/if} class="form-control input-sm datetimepicker" type="text" name="${_arg}" value="#{if _value}${_value}#{/if}#{else}${new Date().format(_format)}#{/else}">
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        #{ifError field.name}
        <span class="label label-danger">${field.error.raw()}</span>
        #{/ifError}
    </div>
    <script type="text/javascript">

        $(document).ready(function(){
            $('#${escapeName}').intimidatetime({
                format:"${_formatPicker}"
            });
        });
    </script>
#{/field}