#{set 'moreStyles'}
    #{press.stylesheet src:'fileinput.min.css', compress:false /}
    #{get 'moreStyles' /}
#{/set}
#{set 'moreScripts'}
    #{press.script src:'fileinput.min.js', compress:false /}
    #{get 'moreScripts' /}
#{/set}
%{
    int maxFile = 0;
    if (_maxFile) {
        maxFile = _maxFile;
    } else {
        maxFile = 1;
    }
    int nbImageRestant = maxFile;
}%
#{field _arg}
    <div class="form-group imageForm #{ifError _arg}has-error#{/ifError}">
        <label for="file">&{'cloudinary.file.label'}</label>
        #{if _showImages}
            <ul class="image-wrapper">
                %{ int nbImage = 0; }%
                #{list items:_images, as:'image'}
                    <li>
                        <a href="" class="delete-image-btn" data-id="${image._key()}">
                            <i class="delete-icon ion-close-circled"></i>
                            <img src="${image.url}"/>
                        </a>
                    </li>
                    %{ nbImage++; }%
                #{/list}
                %{ nbImageRestant = maxFile - nbImage; }%
                #{if nbImageRestant }
                    #{list items:nbImage..(maxFile-1)}
                        <li class="blank"><i class="blank-image ion-android-camera"></i></li>
                    #{/list}
                #{/if}
            </ul>
        #{/if}
        <input class="fileinput" id="file" type="file" name="#{if _arg}${_arg}#{/if}#{else}file#{/else}#{if _maxFile > 1}[]#{/if}" #{if nbImageRestant < 1}disabled="true"#{/if} #{if nbImageRestant > 1}multiple="true"#{/if} />
        #{ifError field.name}
            <span class="label label-danger">${field.error.raw()}</span>
        #{/ifError}
    </div>
#{/field}
<script>
    $('document').ready(function(){

        var nbFile = ${nbImageRestant};
        var deleteAction = #{jsAction @CloudinaryImages.delete(':id') /}

        // Suppression d'une image
        $('.delete-image-btn').click(function(){
            var link = $(this);
            if (!link.hasClass('waiting')) {
                link.addClass('waiting').find('i').removeClass('ion-close-circled').addClass('ion-loading-a');
                var id = link.data('id');
                $.ajax({
                    url: deleteAction({id: id}),
                    type: 'DELETE',
                    success: function(data){

                        // Supprime les anciens messages
                        $('.imageForm .callout').fadeOut('slow', function(){
                            $(this).remove();
                        });

                        data = JSON.parse(data);
                        if (data.result == "success") {
                            nbFile--;
                            $('.fileinput').fileinput('reset');
                            $('.imageForm').prepend("<div class='callout callout-info'>&{'cloudinary.delete.success'}</div>");
                            link.parent().addClass('blank').html('<i class="blank-image ion-android-camera"></i>');
                        } else {
                            $('.imageForm').prepend("<div class='callout callout-danger'>"+data.result+"</div>");
                            link.removeClass('waiting').find('i').removeClass('ion-loading-a').addClass('ion-close-circled');
                        }
                    },
                    error : function(error){
                        var message = error.status+" : "+error.statusText
                        console.warn(message);
                        $('.imageForm').prepend("<div class='callout callout-danger'>Une erreur est survenue pendant la suppression de l'image: "+message+"</div>");
                        link.removeClass('waiting').find('i').removeClass('ion-loading-a').addClass('ion-close-circled');
                    }
                });
            }
            return false;
        });

        $('.fileinput').fileinput({
            browseLabel: "&{'fileinput.choose.label'}",
            uploadLabel: "&{'fileinput.upload.label'}",
            removeLabel: "&{'fileinput.remove.label'}",
            msgSizeTooLarge: "&{'fileinput.file.size.too.large'}",
            msgFilesTooMany: "&{'fileinput.file.too.many'}",
            msgFileNotFound: "&{'fileinput.file.not.found'}",
            msgFileNotReadable: "&{'fileinput.file.not.readable'}",
            msgFilePreviewAborted: "&{'fileinput.file.preview.aborted'}",
            msgFilePreviewError: "&{'fileinput.file.preview.error'}",
            msgValidationError: "<span class='text-danger'><i class='glyphicon glyphicon-exclamation-sign'></i> &{'fileinput.file.validation.error'}</span>",
            msgLoading: "&{'fileinput.msg.loading'}",
            msgProgress: "&{'fileinput.msg.progress'}",
            msgSelected: "&{'fileinput.msg.selected'}",
            maxFileCount: nbFile,
            showCaption: #{if _showCaption}${_showCaption}#{/if}#{else}true#{/else},
            showRemove: #{if _showRemove}${_showRemove}#{/if}#{else}true#{/else},
            showUpload: #{if _showUpload}${_showUpload}#{/if}#{else}true#{/else}
        });
    });
</script>