*{
        Champ de type text
        Params:
        Label de l'input: label
        Texte dans l'input par défaut: placeholder
        Valeur de l'input: value
}*
%{
    String escapeName = _arg.replace('object.', '').replace('.', '-');
    if (_label) {
        escapeName = _label.replace('.', '-');
    }
}%
#{field _arg}
    #{set 'moreStyles'}
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jquery.bootstrap-touchspin.css'}" />
        #{get 'moreStyles' /}
    #{/set}
    #{set 'moreScripts'}
        <script src="@{'/public/javascripts/jquery.bootstrap-touchspin.js'}"></script>
        #{get 'moreScripts' /}
    #{/set}
    <div class="form-group ${_class} #{ifError _arg}has-error#{/ifError}">
        <label for="${escapeName}">#{if _label}&{_label}#{/if}#{else}&{escapeName}#{/else}</label>
        <input id="${escapeName}" #{if _placeholder}placeholder="${_placeholder}"#{/if} class="form-control input-sm" type="number" name="#{if _name}${_name}#{/if}#{else}${_arg}#{/else}" value="#{if params[_arg]}${params[_arg]}#{/if}#{else}${_value}#{/else}">
        #{ifError field.name}
            <span class="label label-danger">${field.error.raw()}</span>
        #{/ifError}
    </div>
    <script>
        $(document).ready(function(){
            $("#${escapeName}").TouchSpin({
              verticalbuttons: true,
              verticalupclass: 'glyphicon glyphicon-plus',
              verticaldownclass: 'glyphicon glyphicon-minus'
              #{if _min}
                ,min: "${_min}"
              #{/if}
              #{if _max}
                ,max: "${_max}"
              #{/if}
            });
        });
    </script>
#{/field}