#{field _arg}
<div class="form-group #{ifError _arg}has-error#{/ifError}">
    #{if _label}
        <label for="${_label}">&{_label}</label>
    #{/if}
    <input #{if _label}id="${_label}"#{/if} #{if _placeholder}placeholder="${_placeholder}"#{/if} class="form-control input-sm" type="password" name="${_arg}" value="#{if _value}${_value}#{/if}">
    #{ifError field.name}
        <span class="label label-danger">${field.error.raw()}</span>
    #{/ifError}
</div>
#{/field}