*{
    Affichage d'un tag SELECT
    Params:
        values: List   Liste de valeurs
        select: valeur Définit si la sélection du select
        max: valeur Nombre maximum de sélection dans un select multiple
    Commentaire:
        Le nom du tag ne doit pas contenir de point sinon il ne sera pas initialisé par le selecteur jQuery
}*
%{
    String escapeName = _arg.replace('object.', '').replace('.', '-');
    if (_label) {
        escapeName = _label.replace('.', '-');
    }
}%
#{field _arg}
    #{set 'moreStyles'}
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/chosen/chosen.bootstrap.min.css'}" />
        #{get 'moreStyles' /}
    #{/set}
    #{set 'moreScripts'}
        <script src="@{'/public/javascripts/chosen.jquery.min.js'}"></script>
        #{get 'moreScripts' /}
    #{/set}
    <div class="form-group ${_class} #{ifError _arg}has-error#{/ifError}">
        <label for="${escapeName}">&{escapeName}</label>
        <select id="${escapeName}"  data-placeholder="#{if _placeholder}&{_placeholder}#{/if}#{else}&{'bootstrap.form.select.default.placeholder'}#{/else}" name="#{if _name}${_name}#{/if}#{else}${_arg}.id#{/else}" class="form-control ${field.errorClass}" #{if _multiple}multiple="multiple"#{/if}>
            #{if !_required}
                <option value="">&{'bootstrap.form.select.none'}</option>
            #{/if}
            %{ _values.each() { }%
            %{
            selected = false;
            if(field.error?.message != 'validation.required') {
                if(_multiple) {
                    if (_select && _select.contains(it)) {
                        selected = true;
                    }
                } else {
                    selected = it == _select;
                }
            }
            label = it.toString()

            }%
            <option value="${it.id}" ${selected ? 'selected="true"'.raw() : ''}>${label}</option>
            %{ } }%
        </select>

        #{ifError field.name}
            <span class="label label-danger">${field.error.raw()}</span>
        #{/ifError}
    </div>
    <script>
        $(document).ready(function(){
           $('#${escapeName}').chosen({
                width: "100%",
                no_results_text: "&{'bootstrap.form.select.non.result'}"
                #{if _max}
                    ,max_selected_options: ${_max}
                #{/if}
            });
        });
    </script>
#{/field}