#{field _arg}
    #{if _wysiwyg}
        #{set 'moreScripts' }
            <script src="@{'/public/javascripts/ckeditor/ckeditor.js'}" type="text/javascript"></script>
            #{get 'moreScripts' /}
        #{/set}
    #{/if}
    %{
        String escapeName = _arg.replace('object.', '').replace('.', '-');
        if (_label) {
            escapeName = _label.replace('.', '-');
        }
    }%
    <div class="form-group #{ifError _arg}has-error#{/ifError}" xmlns="http://www.w3.org/1999/html">
        <label for="${escapeName}">#{if _label}&{_label}#{/if}#{else}&{escapeName}#{/else}</label>
        <textarea id="${escapeName}" class="${field.errorClass} form-control input-sm #{if _wysiwyg}ckeditor#{/if}" rows="#{if _rows}${_rows}#{/if}#{else}10#{/else}" type="text" name="#{if _name}${_name}#{/if}#{else}${_arg}#{/else}">#{if _value}${_value}#{/if}</textarea>
        #{ifError field.name}
        <span class="label label-danger">${field.error.raw()}</span>
        #{/ifError}
        #{if _wysiwyg}
            #{if _toolbar}
                #{include 'Layout/Wysiwyg/'+_toolbar+'.html' /}
            #{/if}
            #{else}
                #{include 'Layout/Wysiwyg/simple.html' /}
            #{/else}
        #{/if}
    </div>
#{/field}