<div class="checkbox">
#{field 'object.' + _name}
    <label for="${field.id}">
        &{_name}
        <input id="${field.id}" class="${field.errorClass}" type="checkbox" name="${field.name}" value="true" ${(params[field.name] ? params.getAll(field.name)[0] == 'true' : _value) ? 'checked="true"'.raw() : ''} />
    </label>
    <input type="hidden" name="${field.name}" value="false" />
    #{ifError field.name}
        <span class="error label label-danger">${field.error.raw()}</span>
    #{/ifError}
#{/field}
</div>
