<div class="form-group">
#{field 'object.' + _name}
    <label for="${field.id}">
        &{_name}
    </label>
    <input id="${field.id}" class="form-control ${field.errorClass}" type="text" name="${field.name}" value="${_value?.format()}" size="10" />
    #{ifError field.name}
        <span class="error label label-danger">${field.error.raw()}</span>
    #{/ifError}
#{/field}
</div>