<div class="form-group">
    #{field 'object.' + _name}
    <label for="${field.id}">
        &{_name}
    </label>

    <select id="${field.id}" name="${field.name}" class="form-control">
            %{ _property.choices.each() { }%
            %{
                    selected = false;
                    if(field.error?.message != 'validation.required') {
                        selected = it == _value;
                    }
                    label = it.toString()

            }%
            <option name="${it.name()}" ord="${it.ordinal()}" value="${it.name()}" ${selected ? 'selected="true"'.raw() : ''}>${label}</option>
            %{ } }%
    </select>

    #{ifError field.name}
        <span class="error label label-danger">${field.error.raw()}</span>
    #{/ifError}
    #{/field}
</div>