<div class="form-group">
#{field 'object.' + _name}
    <label for="${field.id}">
        &{_name}
    </label>
    <input id="${field.id}" class="form-control ${field.errorClass}" type="file" name="${field.name}" />
    #{ifError field.name}
        <span class="error label label-danger">${field.error.raw()}</span>
    #{/ifError}
    #{if _value && _value.exists() && _id}
        <a class="currentAttachment" href="@{attachment(_id, _name)}">Download current file (${_value.length().formatSize()})</a>
        <span class="removeAttachment"><input type="checkbox" name="${field.name}_delete_" value="true" /> (delete)</span>
    #{/if}
#{/field}
</div>