%{
    if(_object) {
        currentObject = _object
        currentType = _('controllers.CRUD$ObjectType').forClass(_object.getClass().getName())
    } else if(_class) {
        currentObject = null;
        currentType = _('controllers.CRUD$ObjectType').forClass(_class)
    } else {
        currentObject = _caller.object
        currentType = _caller.type
    }

    // Eval fields tags
    def fieldsHandler = [:]
    if(_body) {
        _body.setProperty('fieldsHandler', fieldsHandler);
        _body.toString(); // we skeep the real result ...
    }
}%

#{list items:_fields ?: currentType.fields*.name, as:'fieldName'}

    %{
        am = ''
    }%

    %{ def field = currentType.getField(fieldName) }%

#{if field.type != 'hidden'}
    <div class="crudField crud_${field.type}">

        <span class="crudHelp">
            %{
              String spanDebut  = "<span class='label label-warning'>";
              String spanFin    = "</span>";
            }%
            &{am}
                %{ play.data.validation.Validation.getValidators(currentType.entityClass, fieldName, 'object').each() { }%
                    %{
                        switch (it.annotation.annotationType().name.substring(21)) {
                            case "Required":
                                out.println(spanDebut+messages.get('bootstrap.crud.help.required')+spanFin)
                                break;
                            case "MinSize":
                                out.println(spanDebut+messages.get('bootstrap.crud.help.minlength', it.annotation.value())+spanFin)
                                break;
                            case "MaxSize":
                                out.println(spanDebut+messages.get('bootstrap.crud.help.maxlength', it.annotation.value())+spanFin)
                                break;
                            case "Range":
                                out.println(spanDebut+messages.get('bootstrap.crud.help.range', it.annotation.min(), it.annotation.max())+spanFin)
                                break;
                            case "Min":
                                out.println(spanDebut+messages.get('bootstrap.crud.help.min', it.annotation.value())+spanFin)
                                break;
                            case "Email":
                                out.println(spanDebut+messages.get('bootstrap.crud.help.email')+spanFin)
                                break;
                            case "Equals":
                                out.println(spanDebut+messages.get('bootstrap.crud.help.equals', it.params.equalsTo)+spanFin)
                                break;
                            case "Future":
                                if(it.params.reference) {
                                    out.println(spanDebut+messages.get('bootstrap.crud.help.after', it.params.reference)+spanFin)
                                } else {
                                    out.println(spanDebut+messages.get('bootstrap.crud.help.future')+spanFin)
                                }
                                break;
                            case "Past":
                                if(it.params.reference) {
                                    out.println(spanDebut+messages.get('bootstrap.crud.help.before', it.params.reference)+spanFin)
                                } else {
                                    out.println(spanDebut+messages.get('bootstrap.crud.help.past')+spanFin)
                                }
                                break;
                        }
                    }%
                %{ } }%
        </span>

        %{ if(fieldsHandler[fieldName]) { }%
            %{
                def handler = fieldsHandler[fieldName]
                handler.setProperty('fieldName', 'object.' + field?.name + (field?.type == 'relation' ? '.' + currentType.keyName : ''))
                def oldObject = handler.getProperty('object')
                handler.setProperty('object', currentObject)
                out.println(handler.toString())
                handler.setProperty('object', oldObject)
                handler.setProperty('fieldName', null)
            }%
        %{ } else { }%

            #{ifnot field}
                %{ throw new play.exceptions.TagInternalException('Field not found -> ' + fieldName) }%
            #{/ifnot}

            #{if field.type == 'text'}
                #{bootstrap.form.text 'object.'+field.name ,value:(currentObject ? currentObject[field.name] : null) /}
            #{/if}

            #{if field.type == 'password'}
                #{crud.passwordField name:field.name, value:(currentObject ? currentObject[field.name] : null) /}
            #{/if}

            #{if field.type == 'binary'}
                #{crud.fileField name:field.name, value:(currentObject ? currentObject[field.name] : null), id:currentObject?.id /}
            #{/if}

            #{if field.type == 'longtext'}
                #{bootstrap.form.textarea 'object.'+field.name, value:(currentObject ? currentObject[field.name] : null) /}
            #{/if}

            #{if field.type == 'wysiwyg'}
                #{bootstrap.form.textarea 'object.'+field.name, toolbar:field.extraData, value:(currentObject ? currentObject[field.name] : null), wysiwyg:true /}
            #{/if}

            #{if field.type == 'number'}
                %{
                    String minValue = field.extra.get('minValue');
                    String maxValue = field.extra.get('maxValue');
                }%
                #{bootstrap.form.number 'object.'+field.name ,value:(currentObject ? currentObject[field.name] : null), min:minValue, max:maxValue /}
            #{/if}

            #{if field.type == 'duration'}
                #{bootstrap.form.number 'object.'+field.name ,value:(currentObject ? currentObject[field.name] : null) /}
            #{/if}

            #{if field.type == 'date'}
                %{
                    String dateFormat = field.extra.get('dateFormat');
                    String dateFormatPicker = dateFormat.replace('S', 'l');
                }%
                #{bootstrap.form.datetime 'object.'+field.name, label:field.name, value:(currentObject ? currentObject[field.name]?.format(dateFormat) : null), format:dateFormat, formatPicker:dateFormatPicker /}
            #{/if}

            #{if field.type == 'relation'}
                #{bootstrap.form.select 'object.'+field.name, select:(currentObject ? currentObject[field.name] : null), values:field.choices, required:field.required, multiple:field.multiple /}
            #{/if}

            #{if field.type == 'cloudinaryImage'}
                #{bootstrap.form.cloudinaryImage 'object.'+field.name, select:(currentObject ? currentObject[field.name] : null), values:field.choices, required:field.required, multiple:field.multiple /}
            #{/if}

            #{if field.type == 'category'}
                #{bootstrap.form.category 'object.'+field.name, root:field.extraData, selected:(currentObject ? currentObject[field.name]?.id : null) /}
            #{/if}

            #{if field.type == 'boolean'}
                #{bootstrap.form.checkbox 'object.'+field.name, label:field.name, value:(currentObject ? currentObject[field.name] : null) /}
            #{/if}

            #{if field.type == 'enum'}
                #{crud.enumField name:field.name, value:(currentObject ? currentObject[field.name] : null), property:field /}
            #{/if}

        %{ } }%

    </div>
#{/if}

#{/list}
