#{form action:@list().remove('page'), method:'GET'}
    #{if _fields}
        <input type="hidden" name="searchFields" value="${_fields.toString().substring(1, _fields.toString().length()-1).replace(',', '')}" />
    #{/if}
    <div class="input-group">
        <input class="form-control" type="text" name="search" value="${params.search?.escape()?.raw()}" />
        <span class="input-group-btn">
            <input class="btn btn-default" type="submit" value="&{'crud.search'}" />
        </span>
    </div>
    #{if _caller.params.search}
        (<a href="@{list()}">&{'crud.list.totalSize', _caller.totalCount}</a>)
    #{/if}
#{/form}
