#{set 'moreStyles'}
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/dataTables.bootstrap.css'}">
    #{get 'moreStyles' /}
#{/set}
#{set 'moreScripts'}
    <script src="@{'/public/javascripts/jquery.dataTables.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/dataTables.bootstrap.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    #{get 'moreScripts' /}
#{/set}
%{
    // Eval fields tags
    def fieldsHandler = [:]
    if(_body) {
        _body.setProperty('fieldsHandler', fieldsHandler);
}%
        #{doBody as:'skip' /}
%{
    }
}%

<table class="crudTable table table-bordered table-hover table-striped">
    <thead>
        <tr>
        %{ if(_fields) { }%
            %{ _fields.each() { }%
            <th>
                &{it}
            </th>
            %{ } }%
        %{ } else { }%
            <th>
                <a class="${_caller.order == 'DESC' ? 'crudSortedDesc' : 'crudSortedAsc'}" href="@{list().remove('page').add('search', params.search).add('order', (_caller.order == 'DESC' ? 'ASC' : 'DESC'))}">
                    &{_caller.type.name}
                </a>
            </th>
        %{ } }%
        </tr>
    </thead>
    %{ _caller.objects.eachWithIndex() { object, k -> }%
    <tr class="${k % 2 ? 'even' : 'odd'}">
        %{ if(_fields) { }%
            %{ _fields.eachWithIndex() { field, i -> }%
            <td>
                %{ if(fieldsHandler[field]) { }%
                    %{
                        def handler = fieldsHandler[field];
                        handler.setProperty('object', object);
                    }%
                    #{doBody body:handler /}
                    %{
                        handler.setProperty('object', null);
                    }%
                %{ } else { }%
                    %{ if(i == 0) { }%
                        <a href="@{show(object._key())}">${object[field]?.toString()?.escape()?.raw() ?: '(no value)'}</a>
                    %{ } else { }%
                        %{ if(_caller.type.getField(field).type == 'file') { }%
                            %{ if(object[field]) { }%
                                <a class="currentAttachment" href="@{attachment(object.id, field)}">${object[field].filename} (${object[field].get().size().formatSize()})</a>
                             %{ } else { }%
                                
                             %{ } }%
                        %{ } else { }%
                            ${object[field]?.escape()?.raw()}
                        %{ } }%
                    %{ } }%
                %{ } }%
            </td>
            %{ } }%
        %{ } else { }%
            %{ if(fieldsHandler['default']) { }%
                %{
                    def handler = fieldsHandler['default'];
                    handler.setProperty('object', object);
                }%
                #{doBody body:handler /}
            %{ } else { }%
                <td>
                    <a href="@{show(object._key())}">${object.toString()?.escape()?.raw() ?: '(no value)'}</a>
                </td>
            %{ } }%
        %{ } }%
    </tr>
    %{ } }%
</table>
<script>
    $(document).ready(function(){
        $('.crudTable').DataTable({
            language:{
                "sProcessing":     "Traitement en cours...",
                "sSearch":         "Rechercher&nbsp;:",
                "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                "sInfo":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "sInfoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "sInfoPostFix":    "",
                "sLoadingRecords": "Chargement en cours...",
                "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
                "oPaginate": {
                    "sFirst":      "Premier",
                    "sPrevious":   "Pr&eacute;c&eacute;dent",
                    "sNext":       "Suivant",
                    "sLast":       "Dernier"
                },
                "oAria": {
                    "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                }
            }
            #{if _sort}
                ,"order": [ "${_sort}", #{if _order}"${_order}"#{/if}#{else}"desc"#{/else}]
            #{/if}
        });
    });
</script>