#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}
#{set panelTitle:messages.get('crud.list.title', type.name) /}

<div id="crudListTable">
    #{crud.table fields:['titre', 'category', 'auteur', 'dateUpdate', 'roleVisibilite']}
        #{crud.custom 'category'}
            #{bootstrap.category object.category /}
        #{/crud.custom}
        #{crud.custom 'auteur'}
            #{bootstrap.user object.auteur /}
        #{/crud.custom}
        #{crud.custom 'dateUpdate'}
            #{bootstrap.date object.dateUpdate, time:true /}
        #{/crud.custom}
        #{crud.custom 'roleVisibilite'}
            #{bootstrap.role object.roleVisibilite /}
        #{/crud.custom}
    #{/crud.table}
</div>

<p id="crudListAdd">
    <a class="btn btn-primary" href="@{blank()}">&{'bootstrap.crud.add', type.modelName}</a>
</p>
