<header class="header">
    <a class="logo" href="/">&{'application.name'}</a>

    <nav class="navbar navbar-static-top #{if request.controller == null || !controllers.Security.isConnected() }guest#{/if}" role="navigation">
        #{if request.controller && controllers.Security.isConnected() }
        %{
        loggedMember = controllers.Security.getLoggedMember();
        }%
        <!-- Sidebar toggle button-->
        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>${loggedMember}<i class="caret"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header bg-light-blue">
                            #{bootstrap.avatar loggedMember.avatar /}
                            <p>${loggedMember}</p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            #{if loggedMember.hasMinRole("Contributeur")}
                            <div class="pull-left">
                                <a href="@{Administration.index()}" class="btn btn-danger btn-flat">&{'administration.title'}</a>
                            </div>
                            #{/if}
                            <div class="pull-right">
                                <a href="@{Secure.logout()}" class="btn btn-danger btn-flat">&{'bo.logout'}</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        #{/if}
    </nav>
</header>