#{extends 'Layout/BO/body.html' /}
#{set title:messages.get('bo.dashboard') /}
#{set 'adminTitle'}&{'bo.dashboard'}#{/set}

<div class="row">
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>${models.Utilisateur.count()}</h3>
                <p>&{'utilisateur'+models.Utilisateur.count().pluralize()}</p>
            </div>
            <div class="icon">
                <i class="ion ion-person"></i>
            </div>
            <a href="@{Utilisateurs.list()}" class="small-box-footer">
                &{'bo.more.info'} <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
            <div class="inner">
                <h3>${models.Role.count()}</h3>
                <p>&{'role'+models.Role.count().pluralize()}</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios7-people"></i>
            </div>
            <a href="@{Roles.list()}" class="small-box-footer">
                &{'bo.more.info'} <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>${models.CloudinaryImage.count()}</h3>
                <p>&{'CloudinaryImage'+models.CloudinaryImage.count().pluralize()}</p>
            </div>
            <div class="icon">
                <i class="ion ion-images"></i>
            </div>
            <a href="@{CloudinaryImages.list()}" class="small-box-footer">
                &{'bo.more.info'} <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-purple">
            <div class="inner">
                <h3>${models.Configuration.count()}</h3>
                <p>&{'configuration'+models.Configuration.count().pluralize()}</p>
            </div>
            <div class="icon">
                <i class="ion ion-loading-b"></i>
            </div>
            <a href="@{AdminConf.index()}" class="small-box-footer">
                &{'bo.more.info'} <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>${models.Category.count()}</h3>
                <p>&{'Category'+models.Category.count().pluralize()}</p>
            </div>
            <div class="icon">
                <i class="ion ion-android-promotion"></i>
            </div>
            <a href="@{Categorys.list()}" class="small-box-footer">
                &{'bo.more.info'} <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-orange">
            <div class="inner">
                <h3>${models.Document.count()}</h3>
                <p>&{'Document'+models.Document.count().pluralize()}</p>
            </div>
            <div class="icon">
                <i class="ion ion-briefcase"></i>
            </div>
            <a href="@{Documents.list()}" class="small-box-footer">
                &{'bo.more.info'} <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-teal">
            <div class="inner">
                <h3>${models.Article.count()}</h3>
                <p>&{'Article'+models.Article.count().pluralize()}</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios7-paper-outline"></i>
            </div>
            <a href="@{Articles.list()}" class="small-box-footer">
                &{'bo.more.info'} <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-maroon">
            <div class="inner">
                <h3>${models.Online.count()}</h3>
                <p>&{'logs.online.text'}</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="@{AdminApp.online()}" class="small-box-footer">
                &{'bo.more.info'} <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    #{include 'include/bo/index-custom.html' /}
 </div>