#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}
#{set panelTitle:messages.get('crud.list.title', type.name) /}

<div id="crudListTable">
    #{crud.table fields:['titre', 'auteur', 'posts', 'access.right']}
        #{crud.custom 'titre'}
            <a href="@{Topics.show(object.id)}">${object}</a>
            <br/>
            <span>${object.description}</span>
        #{/crud.custom}
        #{crud.custom 'auteur'}
            #{bootstrap.user object.auteur /}
        #{/crud.custom}
        #{crud.custom 'posts'}
            #{bootstrap.label object.posts.size(), css:'primary', center:true /}
        #{/crud.custom}
        #{crud.custom 'access.right'}
            <div>&{'viewableBy'}#{bootstrap.role object.viewableBy /}</div>
            <div>&{'contribBy'}#{bootstrap.role object.contribBy /}</div>
            <div>&{'editableBy'}#{bootstrap.role object.editableBy /}</div>
        #{/crud.custom}
    #{/crud.table}
</div>

<p id="crudListAdd">
    <a class="btn btn-primary" href="@{blank()}">&{'bootstrap.crud.add', type.modelName}</a>
</p>
