#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

#{set panelTitle:messages.get('bootstrap.crud.show.title', type.modelName) /}
#{form action:@save(object._key()), enctype:'multipart/form-data'}
    #{crud.form /}

    #{bootstrap.form.textarea 'post' /}

    <p class="crudButtons">
        <a class="btn btn-default" href="@{list()}">&{'annuler'}</a>
        <input class="btn btn-primary" type="submit" name="_save" value="&{'bootstrap.crud.save', object}" />
        <input class="btn btn-default" type="submit" name="_saveAndContinue" value="&{'bootstrap.crud.saveAndContinue', object}" />
    </p>
#{/form}

#{form @delete(object._key())}
    <p class="crudDelete">
        <input class="btn btn-danger" type="submit" value="&{'bootstrap.crud.delete', object}" />
    </p>
#{/form}