<div class="breadcrumb-line">
    <ul class="breadcrumb">
        <li><a href="@{Board.index()}"><i class="fa fa-home"></i></a></li>
        <li><a href="@{Board.index()}">&{'board.index'}</a></li>
        #{if _arg}
            #{if _arg instanceof models.Forum}
                <li class="active"><a href="@{Board.forum(_arg.id)}">${_arg}</a></li>
            #{/if}
            #{elseif _arg instanceof models.Topic}
                <li><a href="@{Board.forum(_arg.forum.id)}">${_arg.forum}</a></li>
                <li class="active"><a href="@{Board.topic(_arg.id)}">${_arg}</a></li>
            #{/elseif}
            #{elseif _arg instanceof models.Post}
                <li><a href="@{Board.forum(_arg.topic.forum.id)}">${_arg.topic.forum}</a></li>
                <li><a href="@{Board.topic(_arg.topic.id)}">${_arg.topic}</a></li>
                <li class="active"><a href="@{Board.post(_arg.id)}">${_arg}</a></li>
            #{/elseif}
        #{/if}
    </ul>
</div>