<div class="forum-toolbar">
    <div class="btn-group" role="forum-toolbar">
        %{
          models.Utilisateur loggedMember = controllers.Security.getLoggedMember();
        }%
        #{if _arg instanceof models.Forum}
            #{if !_arg.locked && _arg.canContrib(loggedMember)}
                <a href="@{Board.createTopic(_arg.id)}" class="btn btn-primary"><i class="fa fa-plus"></i> &{'forum.topic.create.label'}</a>
            #{/if}
            #{if _arg.canEdit(loggedMember)}
                #{if _arg.locked}
                    <a href="@{Board.lockForum(_arg.id)}" class="btn btn-danger"><i class="fa fa-unlock"></i> &{'forum.unlock.label'}</a>
                #{/if}
                #{else}
                    <a href="@{Board.lockForum(_arg.id)}" class="btn btn-danger"><i class="fa fa-lock"></i> &{'forum.lock.label'}</a>
                #{/else}
            #{/if}
        #{/if}
        #{if _arg instanceof models.Topic}
            #{if _arg.canContrib(loggedMember) && !_arg.isLocked()}
                <a href="@{Board.createPost(_arg.id)}" class="btn btn-primary"><i class="fa fa-plus"></i> &{'forum.post.create.label'}</a>
            #{/if}
            #{if _arg.canEdit(loggedMember)}
                #{if _arg.forum.locked}
                    <a href="@{Board.lockForum(_arg.forum.id)}" class="btn btn-danger"><i class="fa fa-unlock"></i> &{'forum.unlock.label'}</a>
                #{/if}
                #{else}
                    #{if !_arg.isLocked()}
                        <a href="@{Board.editTopic(_arg.id)}" class="btn btn-default"><i class="fa fa-pencil"></i> &{'forum.topic.edit.label'}</a>
                    #{/if}
                    #{if _arg.isLocked()}
                        <a href="@{Board.lockTopic(_arg.id)}" class="btn btn-danger"><i class="fa fa-unlock"></i> &{'forum.topic.unlock.label'}</a>
                    #{/if}
                    #{else}
                        <a href="@{Board.lockTopic(_arg.id)}" class="btn btn-danger"><i class="fa fa-lock"></i> &{'forum.topic.lock.label'}</a>
                    #{/else}
                #{/else}
            #{/if}
        #{/if}
    </div>

    #{if loggedMember.isSuperAdmin()}
    <div class="btn-group pull-right" role="forum-toolbar">
        #{if _arg instanceof models.Topic}
            #{if _arg.canEdit(loggedMember)}
                #{if !_arg.isLocked()}
                    <div class="input-group pull-right">
                        %{
                            models.Category rootForumCat = models.Category.find("byTitle", "Forum").first();
                        }%
                        <select class="form-control">
                            #{list items:rootForumCat.childrenSet, as:'category'}
                                %{
                                    List<models.Forum> forums = models.Forum.getForumListByCat(category);
                                }%
                                <optgroup label="${category}">
                                    #{list items:forums, as:'forum'}
                                        <option value="${forum.id}">${forum}</option>
                                    #{/list}
                                </optgroup>
                            #{/list}
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-default">Déplacer le topic</button>
                        </span>
                    </div>
                #{/if}
            #{/if}
        #{/if}
    </div>
    #{/if}
</div>