#{if _arg}
    #{if _arg.locked}
        <div class="callout callout-danger">&{'forum.locked.alert'}</div>
    #{/if}
    <div class="table-header">
        <a href="@{Board.forum(_arg.id)}">${_arg}</a>
        <span>${_arg.description}</span>
    </div>
    <table class="table table-striped table-primary table-hover">
        <thead>
            <tr class="table-info">
                <th>&{'title'}</th>
                <th>&{'statistiques'}</th>
                <th>&{'last.post'}</th>
            </tr>
        </thead>
        <tbody>
        #{list items:_collection, as:'topic'}
        <tr>
            <td class="forum-first-col">
                <span class="forum-image">
                    #{bootstrap.board.icon topic /}
                </span>
                <span class="desc-wrapper">
                    <a class="topic-title" href="@{Board.topic(topic.id)}">${topic}</a>
                    #{if topic.description}
                        <br/>
                        <span class="forum-description">${topic.description}</span>
                    #{/if}
                </span>
            </td>
            <td class="text-center forum-stats-col">
                <span class="forum-stats-wrapper">
                    &{'forum.topic.post'+topic.posts.size().pluralize()+'.count', topic.posts.size()}
                    <br/>
                    &{'forum.topic.view'+topic.views.pluralize()+'.count', topic.views}
                </span>
            </td>
            <td class="forum-last-col">
                #{bootstrap.board.lastPost topic /}
            </td>
        </tr>
        #{/list}
        #{else}
        <tr>
            <td colspan="3" class="text-center">&{'forum.topic.empty'}</td>
        </tr>
        #{/else}
        </tbody>
    </table>
#{/if}