#{if _arg}
    #{if _arg instanceof models.Forum}
        <a href="@{Board.index()}"><i class="fa fa-chevron-left"></i> &{'forum.back.to', messages.get('board.index')}</a>
    #{/if}
    #{elseif _arg instanceof models.Topic}
        <a href="@{Board.forum(_arg.forum.id)}"><i class="fa fa-chevron-left"></i> &{'forum.back.to', _arg.forum}</a>
    #{/elseif}
    #{elseif _arg instanceof models.Post}
        <a href="@{Board.forum(_arg.topic.forum.id)}"><i class="fa fa-chevron-left"></i> &{'forum.back.to', _arg.topic.forum}</a>
    #{/elseif}
#{/if}