#{if _arg instanceof models.Forum}
    %{
        List<models.ForumView> forumViews = models.ForumView.getFromForum(_arg);
    }%
    #{if forumViews}
        #{if models.ForumView.hasPosted(forumViews)}
            #{if models.ForumView.hasNewPost(forumViews)}
                <i class="board-icon-font ion-ios-folder" title="&{'forum.icon.title.new.post.forum'}"></i>
                <i class="board-icon-font-mini-left fa fa-star" title="&{'forum.icon.title.new.posted'}"></i>
            #{/if}
            #{else}
                <i class="board-icon-font ion-ios-folder-outline" title="&{'forum.icon.title.no.new.post.forum'}"></i>
            #{/else}
        #{/if}
        #{else}
            #{if models.ForumView.hasNewPost(forumViews)}
                <i class="board-icon-font ion-ios-folder" title="&{'forum.icon.title.new.post.forum'}"></i>
            #{/if}
            #{else}
                <i class="board-icon-font ion-ios-folder-outline" title="&{'forum.icon.title.no.new.post.forum'}"></i>
            #{/else}
        #{/else}
    #{/if}
    #{else}
        <i class="board-icon-font ion-ios-folder" title="&{'forum.icon.title.new.post.forum'}"></i>
    #{/else}
    #{if _arg.locked}
        <i class="board-icon-font-mini ion-android-lock" data-toggle="tooltip" title="&{'forum.lock.true'}"></i>
    #{/if}
#{/if}
#{if _arg instanceof models.Topic}
    %{
      models.ForumView forumView = models.ForumView.getFromTopic(_arg);
    }%
    #{if forumView}
        #{if forumView.repondu}
            #{if forumView.hasNewPost(_arg)}
                <i class="board-read board-icon-font ion-ios-chatbubble" title="&{'forum.icon.title.new.post'}"></i>
                <i class="board-icon-font-mini-left fa fa-star" title="&{'forum.icon.title.new.posted'}"></i>
            #{/if}
            #{else}
                <i class="board-read board-icon-font ion-ios-chatbubble-outline" title="&{'forum.icon.title.no.new.post'}"></i>
            #{/else}
        #{/if}
        #{else}
            #{if forumView.hasNewPost(_arg)}
                <i class="board-read board-icon-font ion-ios-chatbubble" title="&{'forum.icon.title.new.post'}"></i>
            #{/if}
            #{else}
                <i class="board-read board-icon-font ion-ios-chatbubble-outline" title="&{'forum.icon.title.no.new.post'}"></i>
            #{/else}
        #{/else}
    #{/if}
    #{else}
        <i class="board-unread board-icon-font ion-ios-chatbubble" title="&{'forum.icon.title.no.visted.topic'}"></i>
    #{/else}
    #{if _arg.isLocked()}
        <i class="board-icon-font-mini ion-android-lock" data-toggle="tooltip" title="&{'forum.lock.true'}"></i>
    #{/if}
#{/if}