#{if _arg}
    #{list items:_arg.getViewableChildrenSet(), as:'category'}
    %{
        List<models.Forum> forums = models.Forum.getForumListByCat(category);
    }%
    <div class="table-header">
        <a href="">${category}</a>
        <span>${category.description}</span>
    </div>
    <table class="table table-striped table-primary table-hover">
        <thead>
        <tr class="table-info">
            <th>&{'title'}</th>
            <th>&{'statistiques'}</th>
            <th>&{'last.post'}</th>
        </tr>
        </thead>
        <tbody>
        #{list items:forums, as:'forum'}
            <tr>
                <td class="forum-first-col">
                    <span class="forum-image">
                        #{bootstrap.board.icon forum /}
                    </span>
                    <span class="desc-wrapper">
                        <a class="forum-title" href="@{Board.forum(forum.id)}">${forum}</a>
                        #{if forum.description}
                            <br/>
                            <span class="forum-description">${forum.description}</span>
                        #{/if}
                    </span>
                </td>
                <td class="text-center forum-stats-col">
                    <span class="forum-stats-wrapper">
                        &{'forum.topic.count', forum.topics.size()}
                        <br/>
                        &{'forum.post.count', forum.nbPosts}
                    </span>
                </td>
                <td>
                    #{if forum.lastPost}
                        <a href="@{Board.topic(forum.lastPost.topic.id)}">${forum.lastPost}</a>
                        <br/>
                        #{bootstrap.user forum.lastPost.auteur /}
                        #{bootstrap.date forum.lastPost.dateUpdate, time:true /}
                    #{/if}
                </td>
            </tr>
        #{/list}
        #{else}
        <tr>
            <td colspan="3" class="text-center">&{'forum.empty'}</td>
        </tr>
        #{/else}
        </tbody>
    </table>
    #{/list}
    #{else}
        <div class="alert alert-info">&{'forum.cat.empty'}</div>
    #{/else}
#{/if}