#{if _arg}
    #{if _arg instanceof models.Forum}
        &{'by'} #{bootstrap.user _arg.lastPost.auteur /} <a href="@{Board.topic(_arg.lastPost.topic.id)}"><i class="fa fa-sign-out"></i></a>
        <br/>
        #{bootstrap.date _arg.lastPost.dateUpdate, time:true /}
    #{/if}
    #{elseif _arg instanceof models.Topic}
        %{
            models.Post lastPost = _arg.getLastPost();
        }%
        #{if lastPost}
            &{'by'} #{bootstrap.user _arg.lastPost.auteur /} <a href="@{Board.topic(_arg.id)}"><i class="fa fa-sign-out"></i></a>
            <br/>
            #{bootstrap.date lastPost.dateUpdate, time:true /}
        #{/if}
    #{/elseif}
#{/if}