#{if _arg}
    <article class="forum-post-wrapper">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="alignleft avatar">#{bootstrap.avatar _arg.auteur.avatar, width:64 /}</div>
                <div class="side-segment">
                    <h3>
                        <a href="@{Board.topic(_arg.topic.id)}">${_arg.topic}</a>
                        <span class="pull-right post-id hidden-xs">
                            <a href="" data-original-title="Post">&{'forum.post.id', _arg.id}</a>
                        </span>
                    </h3>
                </div>
                &{'by'} #{bootstrap.user _arg.auteur /} #{bootstrap.date _arg.dateUpdate, time:true /}
            </div>
            <div class="panel-body">
                #{bootstrap.bbcode _arg.contenu /}
            </div>
        </div>
    </article>
#{/if}