#{if _arg}
    #{if _arg.isLocked()}
        <div class="callout callout-danger">&{'forum.topic.locked.alert'}</div>
    #{/if}
    <div class="table-header">
        <a href="@{Board.topic(_arg.id)}">${_arg}</a>
        <span>${_arg.description}</span>
    </div>
    #{list items:_collection, as:'post'}
        #{bootstrap.board.post post /}
    #{/list}
#{/if}