#{extends 'Layout/FO/smallPanelLayout.html' /}
#{set title:messages.get('secure.forgot.title') /}
#{set panelTitle:messages.get('secure.forgot.title') /}

<p>&{'secure.reset.desc'}</p>
#{form action:@SecurityPwd.change(), method:'POST'}
    <input type="hidden" name="email" value="${user.email}"/>
    <input type="hidden" name="code" value="${user.code}"/>

    <div class="form-group">
        <label class="control-label">&{'secure.user.email'}</label>
        <div class="">
            <input class="form-control input-sm" autocomplete="off" type="text" value="${user.email}" disabled="disabled" size="50">
        </div>
    </div>

    *{ CONFIRMATION DU MOT DE PASSE }*
    <div class="form-group #{ifError 'newPassword'}has-error#{/ifError}  #{if flash.newPasswordError}has-error#{/if}">
        <label for="object_password_new" class="control-label">&{'utilisateur.password.new'}</label>
        #{field 'newPassword'}
        <div class="#{ifError 'newPassword'}has-error#{/ifError}">
            <input id="object_password_new" class="${field.errorClass}  #{if flash.newPasswordError}has-error#{/if} form-control input-sm" autocomplete="off" type="password" name="newPassword" value="${flash.newPassword}" size="50">
            #{if flash.newPasswordError}
                <span class="label label-danger">${flash.newPasswordError}</span>
            #{/if}
            #{else}
            #{ifError field.name}
                <span class="label label-danger">${field.error.raw()}</span>
            #{/ifError}
            #{/else}
        </div>
        #{/field}
    </div>
    <div class="form-group #{ifError 'newPassword'}has-error#{/ifError}">
        #{field 'newPasswordConfirm'}
        <div class="#{ifError 'newPassword'}has-error#{/ifError}">
            <input class="${field.errorClass} form-control input-sm" type="password" autocomplete="off" name="newPasswordConfirm" value="${flash.newPasswordConfirm}" size="50">
            #{ifError field.name}
                <span class="label label-danger">${field.error.raw()}</span>
            #{/ifError}
        </div>
        #{/field}
    </div>
    <button type="submit" class="btn btn-sm btn-primary btn-block">&{'secure.reset.send'}</button>

    #{include 'include/secureFooter.html' /}
#{/form}