/* ********************* Breadcrumb ************************* */
.board .breadcrumb-line {
    position: relative;
    margin: 0 0 35px;
    border-radius: 4px;
    background-color: #e1e5eb;
    overflow:hidden;
}
.board .breadcrumb {
  float: left;
  margin: 0;
  padding: 0;
  border-radius: 0;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.board .breadcrumb>li {
  display: inline-block;
}
.board .breadcrumb li:first-child a {
    padding: 0 15px 0;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    background: #444444;
    color:white;
}
.board .breadcrumb li a {
  line-height: 41px;
  position: relative;
  display: inline-block;
  height: 40px;
  -moz-transition: none 0s ease 0s;
  -o-transition: none 0s ease 0s;
  -webkit-transition: none 0s ease 0s;
  transition: none 0s ease 0s;
  text-align: center;
  text-decoration: none;
    color: #8d9aa5;
}
.board .breadcrumb > li + li:before {
  font-family: "FontAwesome";
  content: "\f054";
}
.board .breadcrumb li:last-child a {
  font-weight: 700;
  color: #888;
}
.board .breadcrumb .icon {
  font-size: 18px;
}
.board .breadcrumb .icon, .breadcrumb-buttons .icon {
  font-size: 18px;
  vertical-align: text-bottom;
}

/* ********************* Link ************************* */
.board .table a {
  -webkit-transition: color .2s ease, background-color .2s ease;
  -moz-transition: color .2s ease, background-color .2s ease;
  -ms-transition: color .2s ease, background-color .2s ease;
  -o-transition: color .2s ease, background-color .2s ease;
  transition: color .2s ease, background-color .2s ease;
  text-decoration: none;
  color: #2880b2;
}

/* ********************* Table ************************* */
.board .table-header {
  padding: 8px 10px;
  text-transform: uppercase;
  color: #fff;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 3px 3px 0 0;
  background-color: #444444;
}
.board .table-header a {
    color:white;
    font-weight: bold;
    font-style: normal;
    line-height: 16px;
    font-family: 'Source Sans Pro','Arial','Helvetica',sans-serif;
}
.board .table-header a:hover {
  color: #e4e4e4;
}
.board .table-header span {
    display:block;
    font-size:12px;
    line-height: 12px;
}
.board .table {
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

/* ********************* Table header ************************* */
.board .table > thead > tr > th {
  font-size: inherit;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  border-bottom: 7px solid #ddd;
  border-width: 0;
  padding: 4px 10px;
  background: #c7cbd6;
}

/* ********************* Table Colonnes ************************* */
.board .forum-first-col {
    width:60%;
}
.board .forum-image {
  display: inline-block;
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  background-color: #ddd;
  border-radius:50px;
  position:relative;
}
.board .board-icon-font {
  font-size: 26px;
  line-height: 48px;
  position: relative;
  display: block;
  height: 48px;
  text-align: center;
  color:#444444;
}
.board .board-icon-font-mini {
  color: #444;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 29px;
  right: 2px;
}
.board .board-icon-font-mini-left {
  color: #444;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 2px;
}
.board .desc-wrapper {
  display: block;
  padding: 4px 20px 5px 54px;
  word-break: break-all;
}
.board a.forum-title,
.board a.topic-title {
  font-size: 1.08em;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}
.board .forum-description,
.board .forum-subforums,
.board .forum-time,
.board .forum-mods {
  font-size: .9em;
  font-family: 'Source Sans Pro','Arial','Helvetica',sans-serif;
}

.board .forum-stats-col {
  font-family: 'Asap','Arial','Helvetica',sans-serif;
  font-size: 13px;
  background-color: #eee !important;
}
.board .forum-stats-wrapper {
  line-height: 1.5;
  display: block;
  padding: 5px 6px;
  font-weight:bold;
}

/* ********************* Toolbar ************************* */
.board .forum-toolbar {
    margin-bottom:20px;
}


/* ********************* Posts ************************* */
.board .panel {
  border-radius: 4px;
}
.board .forum-post-wrapper .panel-heading {
  padding: 10px 15px;
  background: transparent;
  border-bottom: 2px solid #e8ecf3;
  background: #eee;
  overflow:hidden;
}
.board .forum-post-wrapper .avatar {
    margin-bottom:0;
}
.board .forum-post-wrapper .side-segment {
  margin-left: 80px;
}
.board .forum-post-wrapper .side-segment h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #7f7f7f;
    border-bottom: 4px solid #444444;
    font-family: 'Asap','Arial','Helvetica',sans-serif;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 10px;
    color: #7f7f7f;
}
.board .forum-post-wrapper .side-segment .post-id a {
  color: #444;
  font-size:14px;
}
.board .side-segment h2:after,
.board .forum-post-wrapper .side-segment h3:after {
  bottom: 0;
  display: block;
  width: 80px;
  height: 4px;
  margin-bottom: -4px;
  content: "";
  background-color: #0099DA;
}


.bbimage {
    max-width:100%;
}