/**
 * Header
 */
.header a.logo img {
    width:40px;
}

.right-side .pad {
    padding:10px 30px;
}

/**
 * Footer
 */
.footer {
    background: #f4f4f4;
    padding:30px 10px;
    text-align:center;
    box-shadow: inset 0px 3px 8px -4px rgba(0, 0, 0, 0.07);
}
.footer ul.footer-links {
    margin:0;
    padding:0;
}
.footer ul.footer-links li {
    display:inline-block;
    padding:0;
}
.footer ul.footer-links li:after {
    content: " - ";
}
.footer ul.footer-links li:last-child:after {
    content: "";
}
.footer ul.footer-links li a {
    color:#555;
    font-size:14px;
    font-weight:600;
    font-family: 'Source Sans Pro', sans-serif;
}
.footer ul.footer-links li a:hover {
    text-decoration:underline;
}

@media screen and (max-width: 560px) {
    .right-side .pad {
        padding:10px;
    }
}