#{extends 'Layout/BO/layout.html' /}
#{set title:messages.get('bo.app.conf') /}
#{set 'adminTitle'}<i class="fa fa-cogs"></i> &{'bo.app.conf'}#{/set}

#{form @AdminConf.edit(conf.id)}
    <p>${conf.description}</p>
    #{if conf.type == "boolean"}
        #{bootstrap.form.checkbox 'conf.value', label:conf.key, value:conf.value /}
    #{/if}
    #{if conf.type == "text"}
        #{bootstrap.form.text 'conf.value', label:conf.key, value:conf.value /}
    #{/if}
    #{if conf.type == "integer"}
        #{bootstrap.form.text 'conf.value', label:conf.key, value:conf.value /}
    #{/if}
    #{if conf.type == "date"}
        #{bootstrap.form.datetime 'conf.value', label:conf.key, value:conf.value, noTime:true /}
    #{/if}
    #{if conf.type == "time"}
        #{bootstrap.form.datetime 'conf.value', label:conf.key, value:conf.value, noDate:true /}
    #{/if}
    #{if conf.type == "datetime"}
        #{bootstrap.form.datetime 'conf.value', label:conf.key, value:conf.value /}
    #{/if}
    #{if conf.type == "color"}
        #{bootstrap.form.color 'conf.value', label:conf.key, value:conf.value /}
    #{/if}
    #{if conf.type == "role"}
        %{
          models.Role role = conf.getRole();
        }%
        #{bootstrap.form.select 'conf.value', label:conf.key, name:'conf.value', values:models.Role.findAll(), select:role /}
    #{/if}

    <hr>

    <a class="btn btn-default" href="@{AdminConf.index()}"><i class="fa fa-arrow-left"></i> &{'retour'}</a>
    <button class="btn btn-primary"><i class="fa fa-save"></i> &{'sauvegarder'}</button>
#{/form}