#{extends 'Layout/BO/layout.html' /}
#{set title:messages.get('bo.app.conf') /}
#{set 'adminTitle'}<i class="fa fa-cogs"></i> &{'bo.app.conf'}#{/set}

#{form @AdminConf.index(), class:'form-inline'}
    <select name="portee" class="form-control">
        <option value="">&{'conf.all.portees'}</option>
        #{list items:portees, as:'portee'}
            <option value="${portee}" #{if porteeSelected.equals(portee)}selected="selected"#{/if}>${portee}</option>
        #{/list}
    </select>
    <button class="btn btn-primary">&{'conf.btn.filter'}</button>
#{/form}

<hr>

<div class=" table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th colspan="6" class="text-center">&{'conf.table.title'} <span class="badge">${confs.size}</span></th>
            </tr>
            <tr>
                <th>&{'conf.key'}</th>
                <th>&{'conf.portee'}</th>
                <th>&{'conf.type'}</th>
                <th>&{'conf.desc'}</th>
                <th>&{'conf.value'}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            #{list items:confs, as:'conf'}
                <tr>
                    <td>${conf.key}</td>
                    <td class="text-center"><span class="label label-primary">${conf.portee}</span></td>
                    <td class="text-center"><span class="label label-primary">#{if conf.type}&{conf.type}#{/if}#{else}&{'conf.need.reload'}#{/else}</span></td>
                    <td>${conf.description}</td>
                    <td>
                        #{if conf.type.equals("boolean")}
                            #{if conf.value.equals("true")}
                                <span class="label label-success">&{'conf.true'}</span>
                            #{/if}
                            #{elseif conf.value.equals("false")}
                                <span class="label label-danger">&{'conf.false'}</span>
                            #{/elseif}
                            #{else}
                                <span class="label label-info">${conf.value}</span>
                            #{/else}
                        #{/if}
                        #{elseif conf.type.equals("color")}
                            <span class="bootstrap-color-wrapper" style="background-color:#${conf.value}"></span><span class="label label-info">${conf.value}</span>
                        #{/elseif}
                        #{elseif conf.type.equals("role")}
                            #{bootstrap.role conf.getRole() /}
                        #{/elseif}
                        #{else}
                            <span class="label label-info">${conf.value}</span>
                        #{/else}
                    </td>
                    <td>
                        <a class="btn btn-xs btn-primary" href="@{AdminConf.edit(conf.id)}"><i class="fa fa-edit"></i> &{'modifier'}</a>
                    </td>
                </tr>
            #{/list}
            #{else}
                <tr>
                    <td colspan="6" class="text-center">&{'conf.empty'}</td>
                </tr>
            #{/else}
        </tbody>
    </table>
</div>

<hr>

<a href="#" class="btn btn-danger" data-toggle="modal" data-target="#confirmReload"><i class="fa fa-warning"></i> &{'conf.reload'}</a>
<a href="#" class="btn btn-warning" data-toggle="modal" data-target="#confirmUpdate"><i class="fa fa-warning"></i> &{'conf.update'}</a>


<!-- Modal -->
<div class="modal fade" id="confirmReload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-warning"></i> &{'conf.reload.warning.title'}</h4>
            </div>
            <div class="modal-body">&{'conf.reload.warning.text'}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-prev"></i> &{'annuler'}</button>
                <a href="@{AdminConf.reload()}" class="btn btn-danger"><i class="fa fa-warning"></i> &{'conf.reload'}</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-warning"></i> &{'conf.update.warning.title'}</h4>
            </div>
            <div class="modal-body">&{'conf.update.warning.text'}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-prev"></i> &{'annuler'}</button>
                <a href="@{AdminConf.update()}" class="btn btn-warning"><i class="fa fa-warning"></i> &{'conf.update'}</a>
            </div>
        </div>
    </div>
</div>