#{if _title}
    <h2>${_title}</h2>
#{/if}
%{
  int limit = _limit? _limit : 5;
  int rangeOut = 1;
  int rangeIn = 2;
  int currentPage = 1;
  boolean raw = (_raw)? _raw : true;
  boolean resume = (_resume)? _resume : false;
  try {
    currentPage = params._contains('page')? Integer.parseInt(params.get('page')) : 1;
  } catch (NumberFormatException e) {
  }
  int start = (currentPage-1)*limit;
  boolean paginate = _paginate? true : false;
  portlet.PortletQueryForeach pqf;
  if (_collection) {
    pqf = new portlet.PortletQueryForeach(_title, _collection, start, limit, _tags);
  } else if (_tags) {
    pqf = new portlet.PortletQueryForeach(_title, start, limit, _tags);
  }
  int nbPage = pqf.nbPage;
  int total = pqf.total;
  boolean hideTitle = _hideTitle? true : false;
  boolean hideFooter = _hideFooter? true : false;
}%

#{if _debug}
    <ul class="list-group">
        <li class="list-group-item">limit          <span class="badge">${limit}</span></li>
        <li class="list-group-item">range          <span class="badge">${range}</span></li>
        <li class="list-group-item">pageParam      <span class="badge">${params.get('page')}</span></li>
        <li class="list-group-item">currentPage    <span class="badge">${currentPage}</span></li>
        <li class="list-group-item">start          <span class="badge">${start}</span></li>
        <li class="list-group-item">nbPage         <span class="badge">${nbPage}</span></li>
        <li class="list-group-item">total          <span class="badge">${total}</span></li>
        <li class="list-group-item">resume         <span class="badge">${resume}</span></li>
    </ul>
#{/if}

#{if pqf.articles}
    #{list items:pqf.articles, as:'article'}
        #{bootstrap.template.article-list article, hideTitle:hideTitle, hideFooter:hideFooter, raw:raw, resume:resume /}
    #{/list}
    #{if paginate && nbPage > 1}
        <section class="text-center">
            <ul class="pagination pagination-lg pagination-border">
                #{if currentPage>1}
                    <li><a href="?page=${currentPage-1}">«</a></li>
                #{/if}
                %{
                    boolean prevCut = true;
                    boolean nextCut = true;
                }%
                #{list items:1..nbPage, as:'page'}
                    #{if (page > (1+rangeOut) && page < (currentPage-rangeIn)) || (page > (currentPage+rangeIn) && page < nbPage-rangeOut)}
                        %{
                            boolean showCut = false;
                            if (page < currentPage && prevCut) {
                                showCut = true;
                                prevCut = false;
                            }
                            if (page > currentPage && nextCut) {
                                showCut = true;
                                nextCut = false;
                            }
                        }%
                        #{if showCut}
                            <li class="disabled"><a href="#">...</a></li>
                        #{/if}
                    #{/if}
                    #{else}
                        <li class="#{if page==currentPage} active#{/if}"><a href="?page=${page}">${page}</a></li>
                    #{/else}
                #{/list}
                #{if currentPage < nbPage}
                    <li><a href="?page=${currentPage+1}">»</a></li>
                #{/if}
            </ul>
        </section>
    #{/if}
#{/if}
#{else}
    <div class="alert alert-info">&{'bootstrap.portlet.pqf.empty'}</div>
#{/else}