#{extends 'AdminTools/algoliaLayout.html' /}
#{set title:messages.get('bootstrap.algolia') /}
#{set 'adminTitle'}<i class="fa fa-search"></i> &{'bootstrap.algolia'}#{/set}

<dl class="dl-horizontal">
    <dt>&{'algolia.api.key.label'}:</dt>
    <dd>&nbsp;${util.ConfigurationUtil.getStringValue('algolia.api.key')}</dd>
    <dt>&{'algolia.api.key.search.label'}:</dt>
    <dd>&nbsp;${util.ConfigurationUtil.getStringValue('algolia.api.key.search')}</dd>
    <dt>&{'algolia.app.id.label'}:</dt>
    <dd>&nbsp;${util.ConfigurationUtil.getStringValue('algolia.app.id')}</dd>
</dl>

#{if util.ModuleUtil.algoliaSearchEnable()}
    #{form @AdminTools.algoliaSearch()}
        <button class="btn btn-primary"><i class="fa fa-search"></i> &{'algolia.test.button'}</button>
    #{/form}
#{/if}