#{extends 'AdminTools/algoliaLayout.html' /}
#{set title:messages.get('bootstrap.algolia') /}
#{set 'adminTitle'}<i class="fa fa-search"></i> &{'bootstrap.algolia'}#{/set}

#{form @AdminTools.algoliaSearch()}
    #{if indexes.size > 1}
    <select name="index">
        #{list items:indexes, as:'index'}
        <option value="${index['name']}">${index['name']}</option>
        #{/list}
    </select>
    #{/if}
    #{else}
        #{if indexes.size == 1}
            <input type="hidden" name="index" value="${indexes[0]['name']}"/>
        #{/if}
    #{/else}
    <div class="input-group">
        <input type="text" name="recherche" class="form-control" placeholder="&{'algolia.search.placeholder'}" value="${recherche}"/>
        <span class="input-group-btn">
            <button class="btn btn-primary"><i class="fa fa-search"></i></button>
        </span>
    </div>

    *{ AFFICHAGE DES RESULTATS}*
    #{if listHits}
        <hr>
        <h3>&{'algolia.search.result.title'} <span class="badge">${listHits.size}</span></h3>
        #{if listHits.size > 0}
        <ul>
        #{list items:listHits, as:'hit'}
            <li>${hit['email']}</li>
        #{/list}
        </ul>
        #{/if}
        #{else}
            <p>&{'algolia.search.result.empty'}</p>
        #{/else}
    #{/if}
#{/form}