#{extends 'AdminTools/algoliaLayout.html' /}
#{set title:messages.get('bootstrap.algolia') /}
#{set 'adminTitle'}<i class="fa fa-search"></i> &{'bootstrap.algolia'}#{/set}

#{if util.ModuleUtil.algoliaSearchEnable()}

    <table class="table table-striped table-hover table-bordered table-responsive">
        <tr>
            <th colspan="5" class="text-center">&{'algolia.index.table.title'}</th>
        </tr>
        <tr>
            <th>&{'algolia.index.name'}</th>
            <th>&{'algolia.index.entries'}</th>
            <th>&{'algolia.index.dateCreate'}</th>
            <th>&{'algolia.index.dateUpdate'}</th>
            <th>&{'algolia.index.pendingTask'}</th>
        </tr>
        #{list items:indexes, as:'index'}
        <tr>
            <td>${index['name']}</td>
            <td class="text-center"><span class="badge">${index['entries']}</span></td>
            <td>${index['createdAt']}</td>
            <td>${index['updatedAt']}</td>
            <td class="text-center">#{if index['pendingTask'].equals("true")}<span class="label label-success">&{'true'}</span>#{/if}#{else}<span class="label label-danger">&{'false'}</span>#{/else}</td>
        </tr>
        #{/list}
        #{else}
        <tr>
            <td colspan="5">&{'algolia.index.empty'}</td>
        </tr>
        #{/else}
    </table>

    <hr>

    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th colspan="4" class="text-center">&{'algolia.table.index.class'}</th>
        </tr>
        <tr>
            <th>&{'algolia.index.class.enable'}</th>
            <th>&{'class.name'}</th>
            <th>&{'class.count'}</th>
            <th></th>
        </tr>
        #{list items:indexClass, as:'clazz' }
            <tr>
                <td>
                    #{if util.AlgoliaUtil.indexEnable(clazz)}
                        <span class="label label-success">&{'enable'}</span>
                    #{/if}
                    #{else}
                        <span class="label label-danger">&{'disable'}</span>
                    #{/else}
                </td>
                <td>${clazz.getName()}</td>
                <td><span class="badge">${util.AlgoliaUtil.countDataFromClass(clazz)}</span></td>
                <td>
                    #{bootstrap.indexBtn clazz.getSimpleName() /}
                </td>
            </tr>
        #{/list}
        #{else}
            <tr>
                <td colspan="3">&{'algolia.index.class.empty'}</td>
            </tr>
        #{/else}
    </table>

    <a class="btn btn-danger btn-loading" data-loading-text="&{'btn.loading.text'}" href="@{AdminTools.indexAllType}"><i class="fa fa-bolt"></i> &{'algolia.index.all.btn'}</a>
#{/if}