#{extends 'Layout/BO/layout.html' /}
#{set 'adminTitle'}<i class="fa fa-search"></i> &{'bootstrap.algolia'}#{/set}

<ul class="nav nav-tabs nav-margin-bottom">
    <li class='#{if request.action.equals("AdminTools.algoliaAPI")}active#{/if}'><a href="@{AdminTools.algoliaAPI()}"><i class="fa fa-unlock-alt"></i> &{'algolia.tab.api'}</a></li>
    <li class='#{if request.action.equals("AdminTools.algoliaIndex")}active#{/if} #{if !util.ModuleUtil.algoliaSearchEnable()}disabled#{/if}'><a href="@{AdminTools.algoliaIndex()}"><i class="fa fa-sort-amount-desc"></i> &{'algolia.tab.index'}</a></li>
    <li class='#{if request.action.equals("AdminTools.algoliaSearch")}active#{/if} #{if !util.ModuleUtil.algoliaSearchEnable()}disabled#{/if}'><a href="@{AdminTools.algoliaSearch()}"><i class="fa fa-search"></i> &{'algolia.tab.search'}</a></li>
</ul>

#{doLayout /}

<hr>

<a class="btn btn-primary" target="_blank" href="https://www.algolia.com/dashboard"><i class="fa fa-dashboard"></i> &{'algolia.open.dashboard'}</a>