#{extends 'Layout/BO/layout.html' /}
#{set title:messages.get('cloudinary.api') /}
#{set 'adminTitle'}<i class="glyphicon glyphicon-upload"></i> &{'cloudinary.api'}#{/set}

#{if util.ModuleUtil.cloudinaryEnable()}
    <span class="label label-success">Activé</span>
#{/if}
#{else}
    <span class="label label-danger">Pas activé</span>
#{/else}