#{extends 'Layout/BO/layout.html' /}
#{set title:messages.get('email.test.title') /}
#{set 'adminTitle'}<i class="glyphicon glyphicon-envelope"></i> &{'email.test.title'}#{/set}

#{form @AdminTools.emailTest()}
    <div class="form-group">
        <label for="to">&{'email.test.to.label'}</label>
        <input type="text" class="form-control" id="to" name="to" placeholder="&{'email.test.to.placeholder'}" value="#{if flash.to}${flash.to}#{/if}#{else}${controllers.Security.getLoggedMember().email}#{/else}"/>
    </div>
    <div class="form-group">
        <label for="subject">&{'email.test.subject.label'}</label>
        <input type="text" class="form-control" id="subject" name="subject" placeholder="&{'email.test.subject.placeholder'}" value="#{if flash.subject}${flash.subject}#{/if}#{else}&{'email.test.subject.default'}#{/else}"/>
    </div>
    <div class="form-group">
        <label for="message">&{'email.test.message.label'}</label>
        <textarea class="form-control" id="message" name="message" rows="10">#{if flash.message }${flash.message}#{/if}#{else}&{'email.test.message.default'}#{/else}</textarea>
    </div>
    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-envelope"></i> &{'email.test.send.button'}</button>
#{/form}
