#{extends 'Layout/BO/layout.html' /}
#{set title:messages.get('bootstrap.embed') /}
#{set 'adminTitle'}<i class="glyphicon glyphicon-link"></i> &{'bootstrap.embed'}#{/set}

#{form @AdminTools.embed()}
    <div class="form-group">
        <label for="urlOrigin">&{'embed.url.label'}</label>
        <input type="text" class="form-control" id="urlOrigin" name="urlOrigin" placeholder="&{'embed.url.placeholder'}" value="${urlOrigin}"/>
    </div>
    #{if urlEmbed}
        <div class="well">${urlEmbed}</div>
    #{/if}
    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-repeat"></i> &{'gen.embed.button'}</button>
#{/form}
