#{extends 'Layout/BO/layout.html' /}
#{set title:messages.get('bootstrap.gen.password') /}
#{set 'adminTitle'}<i class="glyphicon glyphicon-lock"></i> &{'bootstrap.gen.password'}#{/set}

#{form @AdminTools.genPassword()}
    <div class="form-group">
        <label for="password">&{'gen.password.label'}</label>
        <input type="text" class="form-control" id="password" name="password" placeholder="&{'gen.password.placeholder'}" value=""/>
    </div>
    #{if passwordEncoded}
        <div class="well">
            <div><strong>${password}</strong></div>
            ${passwordEncoded}
        </div>
    #{/if}
    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-repeat"></i> &{'gen.password.button'}</button>
    <button type="submit" name="_random" class="btn btn-warning"><i class="glyphicon glyphicon-refresh"></i> &{'gen.password.random.button'}</button>
#{/form}
