#{extends 'Layout/BO/layout.html' /}
#{set title:messages.get('bootstrap.google.analytics') /}
#{set 'adminTitle'}<i class="fa fa-bar-chart-o"></i> &{'bootstrap.google.analytics'}#{/set}

<dl class="dl-horizontal">
    <dt>&{'ga.code.label'}:</dt>
    <dd>&nbsp;${util.ConfigurationUtil.getStringValue('google.analytics.code')}</dd>
    <dt>&{'ga.url.label'}:</dt>
    <dd>&nbsp;${util.ConfigurationUtil.getStringValue('google.analytics.url')}</dd>
</dl>

<hr>

<a class="btn btn-primary" target="_blank" href="https://www.google.com/analytics"><i class="fa fa-dashboard"></i> &{'google.analytics.btn.dashboard'}</a>