#{extends 'Layout/BO/layout.html' /}
#{set title:messages.get('bootstrap.kimonolabs') /}
#{set 'adminTitle'}<i class="fa fa-exchange"></i> &{'bootstrap.kimonolabs'}#{/set}

<dl class="dl-horizontal">
    <dt>&{'kimonolabs.key.label'}:</dt>
    <dd>&nbsp;<span class="label label-primary">${util.ConfigurationUtil.getStringValue('kimonolabs.api.key')}</span></dd>
    <dt>&{'kimonolabs.secret.label'}:</dt>
    <dd>&nbsp;<span class="label label-primary">${util.ConfigurationUtil.getStringValue('kimonolabs.api.secret')}</span></dd>
</dl>

<hr>

<a class="btn btn-primary" target="_blank" href="https://www.kimonolabs.com"><i class="fa fa-dashboard"></i> &{'kimonolabs.btn.dashboard'}</a>
