<aside class="footer">
    <ul class="footer-links">
        #{if !util.ConfigurationUtil.getBoolValue("application.contact.enable")}
            <li><a href="@{Contact.form()}">&{'application.contact'}</a></li>
        #{/if}
        #{include 'include/fo/footer-custom.html' /}
        <li>&{'application.copyright'}</li>
    </ul>
</aside>