#{extends 'Layout/FO/body.html' /}

<div class="panel panel-default">
    <div class="panel-heading">#{get 'panelTitle' /}</div>
    <div class="panel-body">

        #{include 'include/alert.html' /}

        #{doLayout /}
    </div>
</div>