#{extends 'Layout/FO/body.html' /}
#{set 'containerClasses'}fo#{/set}

<div class="col-md-5 col-md-offset-3 login-form">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title"><strong>#{get 'panelTitle' /}</strong></h3></div>
        <div class="panel-body">
            #{include 'include/alert.html' /}

            #{doLayout /}
        </div>
    </div>
</div>