#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.title') /}

#{set panelTitle:messages.get('bootstrap.crud.index.title') /}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>&{'bootstrap.crud.index.objectType'}</th>
            <th width="20%">&{'bootstrap.crud.index.action'}</th>
        </tr>
    </thead>
    <tbody>
        #{crud.types}
        <tr>
            <td>
                <a href="${type.listAction}">&{type.name}</a>
            </td>
            <td class="crudNew" >
                <a class="btn btn-primary btn-xs" href="${type.blankAction}">&{'bootstrap.crud.index.add', type}</a>
            </td>
        </tr>
        #{/crud.types}
    </tbody>
</table>
