#{extends 'Layout/BO/body.html' /}

<div class="panel panel-default">
    <div class="panel-heading"><i class="fa fa-edit"></i> #{get 'panelTitle' /}</div>
    <div class="panel-body">

        #{include 'include/alert.html' /}

        #{doLayout /}
    </div>
</div>
