#{extends 'Layout/FO/empty.html' /}
#{set title:messages.get('maintenance.mode.title') /}

<div class="error-page">
    <h2 class="headline text-info">&{'maintenance.mode.title'}</h2>
    <div class="error-content">
        #{if !util.ConfigurationUtil.getStringValue('maintenance.access.time').equals('')}
            &{'maintenance.mode.description.with.date', util.ConfigurationUtil.getStringValue('maintenance.access.time')}
        #{/if}
        #{else}
            &{'maintenance.mode.description'}
        #{/else}
        <br/><br/>
        <p>&{'maintenance.mode.contact', util.ConfigurationUtil.getStringValue('email.form.to')}</p>
    </div>
</div>
