#{extends 'Layout/BO/layout.html' /}
#{set 'adminTitle'}<i class="fa fa-user"></i> &{'account.show.title'}#{/set}

<ul class="nav nav-tabs nav-margin-bottom">
    <li class='#{if controllers.Navigation.checkPath(["admin/account/profil"])}active#{/if}'><a href="@{AdminAccount.profil()}"><i class="fa fa-user"></i> &{'account.profil'}</a></li>
    <li class='#{if controllers.Navigation.checkPath(["admin/account/info"])}active#{/if}'><a href="@{AdminAccount.info()}"><i class="fa fa-info-circle"></i> &{'account.info'}</a></li>
    <li class='#{if controllers.Navigation.checkPath(["admin/account/password"])}active#{/if}'><a href="@{AdminAccount.password()}"><i class="fa fa-lock"></i> &{'account.password'}</a></li>
    <li class='#{if controllers.Navigation.checkPath(["admin/account/avatar"])}active#{/if} #{if !util.ModuleUtil.cloudinaryEnable()}disabled#{/if}'><a href="@{AdminAccount.avatar()}"><i class="fa fa-picture-o"></i> &{'account.avatar'}</a></li>
</ul>

#{doLayout /}