#{extends 'AdminAccount/accountLayout.html' /}
#{set 'title'}&{'account.show.title'} - &{'account.password'}#{/set}
#{set 'adminTitle'}<i class="fa fa-user"></i> &{'account.show.title'}#{/set}

#{form action:@AdminAccount.saveInfo(), enctype:'multipart/form-data'}

    #{bootstrap.form.text 'pseudo', label:'account.pseudo', value:user.pseudo /}
    #{bootstrap.form.text 'email', label:'account.email', value:user.email /}

    <p class="crudButtons">
        <button class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> &{'crud.save'}</button>
    </p>
#{/form}