#{extends 'AdminAccount/accountLayout.html' /}
#{set 'title'}&{'account.show.title'} - &{'account.password'}#{/set}
#{set 'adminTitle'}<i class="fa fa-user"></i> &{'account.show.title'}#{/set}

#{form action:@AdminAccount.savePassword(), enctype:'multipart/form-data'}

    #{if util.BootstrapUtil.isValidMD5(user.password) }
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="glyphicon glyphicon-warning-sign"></i>
        &{'application.password.md5.update'}
    </div>
    #{/if}

    *{ ANCIEN MOT DE PASSE }*
    #{field 'oldPassword'}
    <div class="form-group #{ifError field.name}has-error#{/ifError} #{if flash.oldPasswordError}has-error#{/if}">
        <label for="object_password" class="control-label">&{'utilisateur.old.password'}</label>
        <div class="">
            <input id="object_password" class="${field.errorClass} #{if flash.oldPasswordError}hasError#{/if} form-control input-sm" autocomplete="off" type="password" name="oldPassword" value="${flash.oldPassword}" size="50">

            #{if flash.oldPasswordError}
            <span class="label label-danger">${flash.oldPasswordError}</span>
            #{/if}
            #{else}
            #{ifError field.name}
            <span class="label label-danger">${field.error.raw()}</span>
            #{/ifError}
            #{/else}
        </div>
    </div>
    #{/field}
    *{ CONFIRMATION DU MOT DE PASSE }*
    <div class="form-group #{ifError 'newPassword'}has-error#{/ifError}  #{if flash.newPasswordError}has-error#{/if}">
        <label for="object_password_new" class="control-label">&{'utilisateur.new.password'}</label>
        #{field 'newPassword'}
        <div class="#{ifError 'newPassword'}has-error#{/ifError}">
            <input id="object_password_new" class="${field.errorClass}  #{if flash.newPasswordError}has-error#{/if} form-control input-sm" autocomplete="off" type="password" name="newPassword" value="${flash.newPassword}" size="50">
            #{if flash.newPasswordError}
            <span class="label label-danger">${flash.newPasswordError}</span>
            #{/if}
            #{else}
            #{ifError field.name}
            <span class="label label-danger">${field.error.raw()}</span>
            #{/ifError}
            #{/else}
        </div>
        #{/field}
    </div>
    <div class="form-group #{ifError 'newPassword'}has-error#{/ifError}">
        #{field 'newPasswordConfirm'}
        <div class="#{ifError 'newPassword'}has-error#{/ifError}">
            <input class="${field.errorClass} form-control input-sm" type="password" autocomplete="off" name="newPasswordConfirm" value="${flash.newPasswordConfirm}" size="50">
            #{ifError field.name}
            <span class="label label-danger">${field.error.raw()}</span>
            #{/ifError}
        </div>
        #{/field}
    </div>

    <p class="crudButtons">
        <button class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> &{'crud.save'}</button>
    </p>
#{/form}