#{extends 'AdminAccount/accountLayout.html' /}
#{set 'title'}&{'account.show.title'} - &{'account.profil'}#{/set}
#{set 'adminTitle'}<i class="fa fa-user"></i> &{'account.show.title'}#{/set}

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <td>&{'account.pseudo'}</td>
            <td>${user.pseudo}</td>
        </tr>
        <tr>
            <td>&{'account.email'}</td>
            <td>#{bootstrap.email user.email /}</td>
        </tr>
        <tr>
            <td>&{'account.roles'}</td>
            <td>#{bootstrap.roles user.roles /}</td>
        </tr>
        <tr>
            <td>&{'account.etat'}</td>
            <td>#{bootstrap.etat user.etat /}</td>
        </tr>
    </table>
</div>