#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}
#{set panelTitle:messages.get('crud.list.title', type.name) /}

<div id="crudListTable">
    #{crud.table fields:['title', 'description', 'roleVisibilite', 'category']}
        #{crud.custom 'roleVisibilite'}
            #{bootstrap.role object.roleVisibilite /}
        #{/crud.custom}
        #{crud.custom 'category'}
            #{bootstrap.category object.category /}
        #{/crud.custom}
    #{/crud.table}
</div>

<p id="crudListAdd">
    <a class="btn btn-primary" href="@{blank()}">&{'bootstrap.crud.add', type.modelName}</a>
</p>
