#{if _arg}
    <article class="post animated fadeInDown animation-delay-6">
        <div class="panel panel-default">
            <div class="panel-body">
                #{if !_hideTitle}
                <h3 class="post-title">${_arg.titre}</h3>
                #{/if}
                <div class="row">
                    <div class="col-md-12">
                        ${_arg.contenu.raw()}
                    </div>
                </div>
            </div>

            #{if !_hideFooter}
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-10 col-md-9 col-sm-4">
                        #{bootstrap.date _arg.dateUpdate, time:true /}
                        #{bootstrap.user _arg.auteur /}
                    </div>
                </div>
            </div>
            #{/if}
        </div>
    </article>
#{/if}