#{if _arg}
    <article class="post animated fadeInDown animation-delay-6">
        <div class="panel panel-default">
            <div class="panel-body">
                #{if !_hideTitle}
                    <h3 class="post-title"><a href="@{Articles.full(_arg.id)}">${_arg.titre}</a></h3>
                #{/if}
                <div class="row">
                    <div class="col-md-12">
                        <p>
                        #{if _resume}
                            #{bootstrap.resume _arg.contenu, raw:_raw /}
                        #{/if}
                        #{else}
                            #{if _raw}
                                ${_arg.contenu.raw()}
                            #{/if}
                            #{else}
                                ${_arg.contenu}
                            #{/else}
                        #{/else}
                        </p>
                    </div>
                </div>
            </div>

            #{if !_hideFooter}
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-12">
                        #{bootstrap.date _arg.dateUpdate, time:true /}
                        #{bootstrap.user _arg.auteur /}
                        #{if _resume}
                            <a class="btn btn-xs btn-primary pull-right" href="@{Articles.full(_arg.id)}">&{'article.show.more'}</a>
                        #{/if}
                    </div>
                </div>
            </div>
            #{/if}
        </div>
    </article>
#{/if}