#{extends 'Layout/FO/body.html' /}

<div class="error-page">
    <h2 class="headline text-info"> 404</h2>
    <div class="error-content">

        #{if play.mode.name() == 'DEV'}
            <h3>
                <i class="fa fa-warning text-yellow"></i> &{'error.404.message'}
                <p>${result.message}</p>
            </h3>
        #{/if}
        #{else}
            <h3><i class="fa fa-warning text-yellow"></i> &{'error.404.message'}</h3>
        #{/else}
    </div>
</div>