#{extends 'Layout/FO/body.html' /}

<div class="error-page">
    <h2 class="headline text-info"> 500</h2>
    <div class="error-content">

        #{if play.mode.name() == 'DEV'}
            <h3><i class="fa fa-warning text-yellow"></i> &{'error.500.message'}</h3>
            #{500 exception /}
        #{/if}
        #{else}
            <h1>&{'error.500.message'}</h1>
        #{/else}
    </div>
</div>
