#{if _arg}
    #{if _time}
        <span class="label label-info"><i class="glyphicon glyphicon-time"></i> ${_arg.format('dd/MM/yyyy HH:MM:ss')}</span>
    #{/if}
    #{else}
        <span class="label label-info"><i class="glyphicon glyphicon-time"></i> ${_arg.format('dd/MM/yyyy')}</span>
    #{/else}
#{/if}