#{if _arg }
    <i class="fa fa-circle text-success" data-toggle="tooltip" data-original-title="&{'is.enable'}"></i>
#{/if}
#{else}
    <i class="fa fa-circle text-danger" data-toggle="tooltip" data-original-title="&{'not.enable'}"></i>
#{/else}