#{if _arg}
    <a class="btn btn-xs btn-danger btn-loading" data-loading-text="&{'btn.loading.text'}" href="@{AdminTools.indexType(_arg)}"><i class="fa fa-bolt"></i> &{'algolia.index.btn'}</a>
#{/if}