#{if _arg}
    #{if _center}
        <div class="text-center"><span class="label label-default #{if _css}label-${_css}#{/if}">#{if _icon}<i class="${_icon}"></i> #{/if}&{_arg}</span></div>
    #{/if}
    #{else}
        <span class="label label-default #{if _css}label-${_css}#{/if}">#{if _icon}<i class="${_icon}"></i> #{/if}&{_arg}</span>
    #{/else}
#{/if}
