#{set 'moreStyles'}
    #{press.stylesheet 'magnific-popup.css' /}
    #{get 'moreStyles' /}
#{/set}
#{set 'moreScripts' }
    #{press.script src:'jquery.mixitup.min.js', compress:false /}
    #{press.script src:'jquery.magnific-popup.min.js', compress:false /}
    #{press.script 'bootstrap.mixitup.js' /}
    #{get 'moreScripts' /}
#{/set}
<div id="content-list"></div>
<iframe class="mixitup-iframe"></iframe>
#{set 'scripts' }
    var downloadLibelle = '&{'mixitup.download.title'}';
    var mixitupEmptyResult = '&{'mixitup.empty.result'}'
    $(document).ready(function(){
        mixitupLoad(0);
    });
#{/set}