#{if _arg}
    %{
        collection = _arg;
        int rangeOut = 1;
        int rangeIn = 2;
        int currentPage = _arg.getCurrentPage();
        int limit = _arg.getLimit();
        long total = _arg.getTotal();
        int nbPage = _arg.getNbPage();
        boolean prevCut = true;
        boolean nextCut = true;
    }%
    #{if _debug}
        <ul>
            <li>Page: ${currentPage}</li>
            <li>Maximum par page: ${limit}</li>
            <li>Nombre de page: ${nbPage}</li>
            <li>Total: ${total}</li>
            <li>Params: ${paramsToAdd}</li>
        </ul>
    #{/if}
    #{if nbPage > 1}
        <section class="text-center">
            <ul class="pagination pagination-lg pagination-border">
                #{if currentPage>1}
                    <li><a href="?page=${currentPage-1}${paramsToAdd}">«</a></li>
                #{/if}
                #{list items:1..nbPage, as:'page'}
                    #{if (page > (1+rangeOut) && page < (currentPage-rangeIn)) || (page > (currentPage+rangeIn) && page < nbPage-rangeOut)}
                        %{
                            boolean showCut = false;
                            if (page < currentPage && prevCut) {
                                showCut = true;
                                prevCut = false;
                            }
                            if (page > currentPage && nextCut) {
                                showCut = true;
                                nextCut = false;
                            }
                        }%
                        #{if showCut}
                            <li class="disabled"><a href="#">...</a></li>
                        #{/if}
                    #{/if}
                    #{else}
                        <li class="#{if page==currentPage} active#{/if}"><a href="?page=${page}${paramsToAdd}">${page}</a></li>
                    #{/else}
                #{/list}
                #{if currentPage < nbPage}
                    <li><a href="?page=${currentPage+1}${paramsToAdd}">»</a></li>
                #{/if}
            </ul>
        </section>
    #{/if}
#{/if}
