#{extends 'Template/mail_basic.html' /}

<p>Un compte vient d'être créé:</p>
<br/>
<ul>
    <li>Pseudo : ${user.pseudo}</li>
    <li>Email : ${user.email}</li>
</ul>
<a href="@@{Utilisateurs.list()}">Voir la liste des utilisateurs</a>

