#{extends 'Template/mail_basic.html' /}

<p>Bonjour ${user.pseudo},</p>
<br/>
<p>Votre compte vient d'être créé, vous devez maintenant l'activer en cliquant sur le lien suivant:</p>
<br/>
<a href="@@{SecurityAccount.activate(user.email, user.code)}">Activer votre compte</a>
<br/>
<p>Ce lien à une durée de validité de ${util.ConfigurationUtil.getIntValue('application.code.validite')} heures</p>
<br/>
<p>Cordialement.</p>