#{extends 'Template/mail_basic.html' /}

<p>Bonjour ${user.pseudo},</p>
<br/>
<p>Vous avez demandé à réinitialiser votre mot de passe, cliquer sur le lien ci-dessous:</p>
<br/>
<a href="@@{SecurityPwd.reset(user.email, user.code)}">Réinitialiser votre mot de passe</a>
<br/>
<p>Ce lien à une durée de validité de 30 minutes</p>
<br/>
<p>Cordialement.</p>