#{extends 'AdminApp/logsLayout.html' /}
#{set title:messages.get('bo.app.logs.connexion') /}
#{set 'adminTitle'}<i class="fa fa-file-text"></i> &{'bo.app.logs.connexion'}#{/set}

<div class=" table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th colspan="3" class="text-center">&{'logs.connexion.title'} <span class="badge">${attemptList.size}</span></th>
        </tr>
        <tr>
            <th>&{'attempt.type'}</th>
            <th>&{'attempt.ip'}</th>
            <th>&{'attempt.date'}</th>
        </tr>
        #{list items:attemptList, as:'attempt'}
            <tr>
                <td><span class="badge">${attempt.type}</span></td>
                <td>#{bootstrap.ip attempt.ip /}</td>
                <td>#{bootstrap.date attempt.date, time:true /}</td>
            </tr>
        #{/list}
    </table>
</div>