#{extends 'AdminApp/logsLayout.html' /}
#{set title:messages.get('bo.app.logs.email') /}
#{set 'adminTitle'}<i class="fa fa-file-text"></i> &{'bo.app.logs.email'}#{/set}

<div class=" table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th colspan="6" class="text-center">&{'logs.email.title'} <span class="badge">${logList.size}</span></th>
        </tr>
        <tr>
            <th>&{'log.type'}</th>
            <th>&{'log.sousType'}</th>
            <th>&{'log.date'}</th>
            <th>&{'log.destinataires'}</th>
            <th>&{'log.sujet'}</th>
            <th>&{'log.message'}</th>
        </tr>
        #{if logList.size() > 0}
            #{list items:logList, as:'log'}
                <tr>
                    <td><span class="label label-primary">${log.type}</span></td>
                    <td><span class="label label-info">${log.sousType}</span></td>
                    <td>#{bootstrap.date log.dateUpdate, time:true /}</td>
                    <td><span class="badge">${log.destinataires}</span></td>
                    <td>${log.sujet}</td>
                    <td><span class="show-hover">${log.message.raw()}</span></td>
                </tr>
            #{/list}
        #{/if}
        #{else}
        <tr>
            <td colspan="6" class="text-center">&{'logs.no.result'}</td>
        </tr>
        #{/else}
    </table>
    <hr>
    <a class="btn btn-danger" href="@{AdminApp.cleanLog('EMAIL')}">&{'logs.clean'}</a>
</div>