#{extends 'Layout/BO/layout.html' /}
#{set 'adminTitle'}<i class="fa fa-file-text"></i> &{'bo.app.logs'}#{/set}

<ul class="nav nav-tabs nav-margin-bottom">
    <li class='#{if request.action.equals("AdminApp.connexion")}active#{/if}'><a href="@{AdminApp.connexion()}"><i class="fa fa-sign-in"></i> &{'bo.app.logs.connexion'}</a></li>
    <li class='#{if request.action.equals("AdminApp.email")}active#{/if}'><a href="@{AdminApp.email()}"><i class="fa fa-envelope"></i> &{'bo.app.logs.email'}</a></li>
    <li class='#{if request.action.equals("AdminApp.online")}active#{/if}'><a href="@{AdminApp.online()}"><i class="glyphicon glyphicon-user"></i> &{'bo.app.logs.online'}</a></li>
</ul>

#{doLayout /}