#{extends 'AdminApp/logsLayout.html' /}
#{set title:messages.get('bo.app.logs') /}
#{set 'adminTitle'}<i class="fa fa-file-text"></i> &{'bo.app.logs'}#{/set}

<div class=" table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th colspan="5" class="text-center">&{'logs.online.title'} <span class="badge">${onlineList.size}</span></th>
        </tr>
        <tr>
            <th>&{'online.ip'}</th>
            <th>&{'online.date'}</th>
            <th>&{'online.user'}</th>
            <th>&{'online.language'}</th>
            <th>&{'online.useragent'}</th>
        </tr>
        #{list items:onlineList, as:'online'}
            <tr>
                <td>#{bootstrap.ip online.ip /}</td>
                <td>#{bootstrap.date online.lastActivity, time:true /}</td>
                <td><span class="label label-primary"><i class="glyphicon glyphicon-user"></i> ${online.username}</span></td>
                <td>#{if online.language}<img src="@{'/public/images/flags/'+online.language+'.png'}"/>#{/if}</td>
                <td><span class="show-hover">${online.userAgent}</span></td>
            </tr>
        #{/list}
    </table>
</div>
<p>&{'logs.online.max.time', util.ConfigurationUtil.getIntValue("logs.online.time.max")}</p>