#{extends 'Layout/BO/layout.html' /}
#{set title:messages.get('bo.app.statut') /}
#{set 'adminTitle'}<i class="fa fa-database"></i> &{'bo.app.statut'}#{/set}

<div class=" table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th colspan="2" class="text-center">&{'bo.app.statut.title'} <span class="badge">${properties.size()}</span></th>
            </tr>
            <tr>
                <th>&{'bo.app.statut.property.label'}</th>
                <th>&{'bo.app.statut.value.label'}</th>
            </tr>
        </thead>
        <tbody>
            #{list items:properties,as:'property'}
                <tr>
                    <td><span class="badge">${property}</span></td>
                    <td>${play.Play.configuration.getProperty(property)}</td>
                </tr>
            #{/list}
        </tbody>
    </table>
</div>