#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}
#{set panelTitle:messages.get('crud.list.title', type.name) /}

<div id="crudListTable" class="table-responsive">
    #{crud.table fields:['libelle', 'level'], sort:"1", order:"desc"}
        #{crud.custom 'libelle'}
            <a href="@{Roles.show(object.id)}">#{bootstrap.role object /}</a>
        #{/crud.custom}
        #{crud.custom 'level'}
            <span class="label label-primary">${object.level}</span>
        #{/crud.custom}
    #{/crud.table}
</div>

<p id="crudListAdd">
    <a class="btn btn-primary" href="@{blank()}">&{'bootstrap.crud.add', type.modelName}</a>
</p>
