#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}
#{set panelTitle:messages.get('crud.list.title', type.name) /}

<div id="crudListTable">
    #{crud.table fields:['auteur', 'category', 'forum', 'topic', 'contenu'] }
        #{crud.custom 'auteur'}
            #{bootstrap.user object.auteur /}
        #{/crud.custom}
        #{crud.custom 'category'}
            #{bootstrap.category object.topic.forum.category /}
        #{/crud.custom}
        #{crud.custom 'forum'}
            #{bootstrap.label object.topic.forum, css:'primary', center:true /}
        #{/crud.custom}
        #{crud.custom 'topic'}
            #{bootstrap.label object.topic, css:'primary', center:true /}
        #{/crud.custom}
    #{/crud.table}
</div>

<p id="crudListAdd">
    <a class="btn btn-primary" href="@{blank()}">&{'bootstrap.crud.add', type.modelName}</a>
</p>
