#{if flash.success}
    <div class="callout callout-info">
        ${flash.success.raw()}
    </div>
#{/if}
#{if flash.error || error}
    <div class="callout callout-danger">
        ${error ?: flash.error.raw()}
    </div>
#{/if}