#{if util.ConfigurationUtil.getBoolValue('application.forgot') || util.ConfigurationUtil.getBoolValue('application.create.account')}
    <hr>
    #{if util.ConfigurationUtil.getBoolValue('application.forgot') && !request.path.equals("/pwd/forgot")}
        <a href="@{SecurityPwd.forgot()}">&{'secure.login.password.forgot'}</a>
    #{/if}
    #{if util.ConfigurationUtil.getBoolValue('application.create.account') && !request.path.equals("/account/create")}
        <a href="@{SecurityAccount.create()}" class="pull-right">&{'secure.create.account'}</a>
    #{/if}
    #{if !request.path.equals("/login")}
        <a href="@{Secure.login()}" class="#{if request.path.equals('/pwd/forgot')}pull-left#{/if}#{else}pull-right#{/else}">&{'secure.login.signin'}</a>
    #{/if}
#{/if}