#{extends 'Layout/BO/layout.html' /}
#{set 'adminTitle'}<i class="glyphicon glyphicon-envelope"></i> &{'newsletter.form.title'}#{/set}

#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/bootstrap-tagsinput.css'}" />
#{/set}
#{set 'moreScripts'}
    <script src="@{'/public/javascripts/typeahead.bundle.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/bootstrap-tagsinput.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}

#{form @form()}
    <div class="form-group">
        <label for="to">&{'newsletter.form.to.label'}</label>
        <select id="to" name="to" class="tags-input" multiple></select>
    </div>
    <div class="form-group">
        <label for="sujet">&{'newsletter.form.subject.label'}</label>
        <input type="text" class="form-control" id="sujet" name="sujet" placeholder="&{'newsletter.form.subject.placeholder'}" value="#{if flash.subject}${flash.subject}#{/if}#{else}&{'email.test.subject.default'}#{/else}"/>
    </div>
    <div class="form-group">
        <label for="message">&{'newsletter.form.message.label'}</label>
        <textarea class="form-control" id="message" name="message" rows="10">#{if flash.message }${flash.message}#{/if}#{else}&{'newsletter.form.message.default'}#{/else}</textarea>
    </div>
    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-envelope"></i> &{'newsletter.form.send.button'}</button>
#{/form}

<script>
    $(document).ready(function(){

        var users = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('text'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          prefetch: {
            ttl: 1,
            url: '/admin/newsletter/values',
            filter: function (list) {
                return $.map(list, function (item) {
                    var icon = "<i class='fa fa-user'></i>";
                    var label = "label-info";
                    if (item.type == "role") {
                        icon = "<i class='fa fa-users'></i>";
                        label = "label-warning";
                    } else if (item.type == "option") {
                        icon = "<i class='fa fa-gear'></i>";
                        label = "label-danger";
                    } else if (item.type == "etat") {
                        icon = "<i class='fa fa-check-circle-o'></i>";
                        label = "label-success";
                    }
                    return {
                        textSuggest: "<span class='label "+label+"'>"+icon+" "+item.text+"</span>",
                        text: item.text,
                        value: item.value+","+item.type,
                        type: item.type
                    };
                });
            }
          }
        });
        users.clearPrefetchCache();
        users.clearRemoteCache();
        users.initialize();

        $('.tags-input').tagsinput({
          tagClass: function(item) {
            switch (item.type) {
              case 'user'   : return 'label label-info';
              case 'role'  : return 'label label-warning';
              case 'etat'  : return 'label label-success';
              case 'option': return 'label label-danger';
            }
          },
          itemValue: 'value',
          itemText: 'text',
          typeaheadjs: {
            name: 'to',
            displayKey: 'textSuggest',
            source: users.ttAdapter()
          },
          freeInput: false
        });
        $('.tags-input').keydown(function(event){
            if(event.keyCode == 13) {
              event.preventDefault();
              return false;
            }
          });
    });
</script>