<header class="header">
    <a class="logo" href="/">
        <img src="@{'/public/images/logo.png'}" alt="logo" title="&{'application.name'}"/>
        &{'application.name'}
    </a>

    <nav class="navbar navbar-static-top #{if request.controller == null || !controllers.Security.isConnected() }guest#{/if}" role="navigation">

        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-right">
            <ul class="nav navbar-nav">
                #{if request.controller && controllers.Security.isConnected() }
                %{
                loggedMember = controllers.Security.getLoggedMember();
                }%
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>${loggedMember}<i class="caret"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header bg-light-blue">
                            #{bootstrap.avatar loggedMember.avatar /}
                            <p>${loggedMember}</p>
                        </li>

                        #{include 'include/fo/header/navbar-custom.html' /}

                        <li class="user-footer">
                            #{if loggedMember.hasMinRole("Contributeur")}
                                <div class="pull-left">
                                    <a href="@{Administration.index()}" class="btn btn-danger btn-flat">&{'administration.title'}</a>
                                </div>
                            #{/if}
                            <div class="pull-right">
                                <a href="@{Secure.logout()}" class="btn btn-danger btn-flat">&{'bo.logout'}</a>
                            </div>
                        </li>
                    </ul>
                </li>
                #{/if}
                #{else}
                    <li>
                        <a href="@{Secure.login()}">
                            <span>&{'secure.signin'}</span>
                        </a>
                    </li>

                    #{if util.ConfigurationUtil.getBoolValue('application.create.account')}
                    <li>
                        <a href="@{SecurityAccount.create()}">
                            <span>&{'secure.register'}</span>
                        </a>
                    </li>
                    #{/if}
                #{/else}
            </ul>
        </div>
    </nav>
</header>