#{extends 'Layout/FO/smallPanelLayout.html' /}
#{set title:messages.get('contact.title') /}
#{set panelTitle:messages.get('contact.title') /}

<p>&{'contact.intro'}</p>

#{form @Contact.send(), method:'POST'}
    #{bootstrap.form.text 'email', label:'contact.email', value:flash.email /}
    #{bootstrap.form.text 'sujet', label:'contact.sujet', value:flash.sujet /}
    #{bootstrap.form.textarea 'message', label:'contact.message', value:flash.message /}
    #{bootstrap.form.captcha 'captcha' /}
    <button type="submit" class="btn btn-sm btn-primary btn-block">&{'contact.send'}</button>
#{/form}