#{if request.controller}
    #{if controllers.Security.isConnected() }
    <ol class="breadcrumb">
        <li><a href="@{Administration.index()}">&{'bootstrap.administration'}</a></li>
        #{if request.controller != "Administration" || (request.controller == "Administration" && request.actionMethod != "index")}
            <li><a href="">&{request.controller+"."+request.actionMethod}</a></li>
        #{/if}
    </ol>
    #{/if}
#{/if}