<li class='treeview #{if controllers.Navigation.checkPath(["crud"])}active#{/if}'>
    <a href="#">
        <i class="fa fa-list-ul"></i> <span>&{'bo.crud'}</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        #{crud.types}
            #{if loggedMember.hasMinRole("Administrateur") || (loggedMember.isContributeur() && util.BootstrapUtil.contributeurCanShowType(type.name))}
                <li class='#{if controllers.Navigation.checkPath([type.listAction.toString()])}active#{/if}'><a href="${type.listAction}"><i class="fa &{type.name.toLowerCase() + '.type.icon'}"></i>&{type.name} <span class="label label-primary pull-right">#{cache type.name+'.count'}${type.count("", "", null)}#{/cache}</span></a></li>
            #{/if}
        #{/crud.types}
    </ul>
</li>

#{if loggedMember.hasMinRole("Administrateur")}
    <li class='#{if controllers.Navigation.checkPath(["admin/newsletter"])}active#{/if}'>
        <a href="@{Newsletter.form()}">
            <i class="fa fa-envelope"></i>
            <span>&{'bo.newsletter'}</span>
        </a>
    </li>
    <li class='treeview #{if controllers.Navigation.checkPath(["admin/gen", "admin/embed", "admin/test/email", "admin/test/cloudinary", "admin/googleAnalytics", "admin/algoliaSearch", "admin/kimonolabs"])}active#{/if}'>
        <a href="#">
            <i class="fa fa-wrench"></i>
            <span>&{'bo.tools'}</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class='#{if controllers.Navigation.checkPath(["admin/gen"])}active#{/if}'><a href="@{AdminTools.genPassword()}"><i class="fa fa-unlock-alt"></i> #{bootstrap.enable true /} &{'bo.tool.password'}</a></li>
            <li class='#{if controllers.Navigation.checkPath(["admin/embed"])}active#{/if}'><a href="@{AdminTools.embed()}"><i class="fa fa-upload"></i> #{bootstrap.enable util.ModuleUtil.embedEnable() /} &{'bo.tool.embed'}</a></li>
            <li class='#{if controllers.Navigation.checkPath(["admin/test/email"])}active#{/if}'><a href="@{AdminTools.emailTest()}"><i class="fa fa-envelope"></i> #{bootstrap.enable util.ModuleUtil.mailEnable() /} &{'bo.tool.mail'}</a></li>
            <li class='#{if controllers.Navigation.checkPath(["admin/test/cloudinary"])}active#{/if}'><a href="@{AdminTools.cloudinary()}"><i class="fa fa-cloud-upload"></i> #{bootstrap.enable util.ModuleUtil.cloudinaryEnable() /} &{'bo.tool.cloudinary'}</a></li>
            <li class='#{if controllers.Navigation.checkPath(["admin/googleAnalytics"])}active#{/if}'><a href="@{AdminTools.googleAnalytics()}"><i class="fa fa-bar-chart-o"></i> #{bootstrap.enable util.ModuleUtil.gaEnable() /} &{'bo.tool.analytics'}</a></li>
            <li class='#{if controllers.Navigation.checkPath(["admin/algoliaSearch"])}active#{/if}'><a href="@{AdminTools.algoliaAPI()}"><i class="fa fa-search"></i> #{bootstrap.enable util.ModuleUtil.algoliaSearchEnable() /} &{'bo.tool.algolia'}</a></li>
            <li class='#{if controllers.Navigation.checkPath(["admin/kimonolabs"])}active#{/if}'><a href="@{AdminTools.kimonolabs()}"><i class="fa fa-exchange"></i> #{bootstrap.enable true /} &{'bo.tool.kimonolabs'}</a></li>
        </ul>
    </li>
    <li class='treeview #{if controllers.Navigation.checkPath(["admin/app/logs/connexion", "admin/app/logs/email", "admin/app/logs/online", "admin/app/statut", "admin/app/conf"])}active#{/if}'>
        <a href="#">
            <i class="fa fa-gear"></i>
            <span>&{'bo.app'}</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class='#{if controllers.Navigation.checkPath(["admin/app/logs/connexion", "admin/app/logs/email", "admin/app/logs/online"])}active#{/if}'><a href="@{AdminApp.connexion()}"><i class="fa fa-file-text"></i> &{'bo.app.logs'}</a></li>
            <li class='#{if controllers.Navigation.checkPath(["admin/app/statut"])}active#{/if}'><a href="@{AdminApp.statut()}"><i class="fa fa-database"></i> &{'bo.app.statut'}</a></li>
            <li class='#{if controllers.Navigation.checkPath(["admin/app/conf"])}active#{/if}'><a href="@{AdminConf.index()}"><i class="fa fa-cogs"></i> &{'bo.app.conf'}</a></li>
        </ul>
    </li>
#{/if}
