#{if request.controller}
    #{if controllers.Security.isConnected() }
    %{
    loggedMember = controllers.Security.getLoggedMember();
    }%
    <aside class="left-side sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    #{bootstrap.avatar loggedMember.avatar /}
                </div>
                <div class="pull-left info">
                    <p>${loggedMember}</p>
                    #{bootstrap.role loggedMember.getHighterRole() /}
                </div>
            </div>

            <ul class="sidebar-menu">
                <li class='#{if request.action.contains(["Administration.index"])}active#{/if}'>
                    <a href="@{Administration.index()}">
                        <i class="fa fa-dashboard"></i> <span>&{'bo.dashboard'}</span>
                    </a>
                </li>
                <li class='treeview #{if controllers.Navigation.checkPath(["admin/account/profil", "admin/account/info", "admin/account/password", "admin/account/avatar"])}active#{/if}'>
                    <a href="#">
                        <i class="fa fa-user"></i> <span>&{'bo.account'}</span>
                    </a>
                    <ul class="treeview-menu">
                        <li class='#{if controllers.Navigation.checkPath(["admin/account/profil"])}active#{/if}'><a href="@{AdminAccount.profil()}"><i class="fa fa-user"></i> &{'account.profil'}</a></li>
                        <li class='#{if controllers.Navigation.checkPath(["admin/account/info"])}active#{/if}'><a href="@{AdminAccount.info()}"><i class="fa fa-info-circle"></i> &{'account.info'}</a></li>
                        <li class='#{if controllers.Navigation.checkPath(["admin/account/password"])}active#{/if}'><a href="@{AdminAccount.password()}"><i class="fa fa-lock"></i> &{'account.password'}</a></li>
                        <li class='#{if controllers.Navigation.checkPath(["admin/account/avatar"])}active#{/if}'><a href="@{AdminAccount.avatar()}"><i class="fa fa-picture-o"></i> &{'account.avatar'}</a></li>
                    </ul>
                </li>

                #{include 'include/bo/sidebar-bootstrap.html' /}

                #{include 'include/bo/sidebar-cms.html' /}

                #{include 'include/bo/sidebar-custom.html' /}
            </ul>
        </section>

        <section class="sidebar-footer">
            <span class="version">&{'application.bootstrap.version'}</span>
        </section>
    </aside>
    #{/if}
#{/if}