#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}

#{set panelTitle:messages.get('bootstrap.crud.blank.title', type.modelName) /}
#{form action:@create(), enctype:'multipart/form-data'}
    #{bootstrap.form.text 'object.title', label:'title', value:flash.title /}

    #{bootstrap.form.text 'object.description', label:'description', value:flash.description /}

    #{if object.parent}
        #{bootstrap.form.category 'object.parent', selected:[object.parent.id] /}
    #{/if}
    #{else}
        #{bootstrap.form.category 'object.parent' /}
    #{/else}

    #{bootstrap.form.select 'object.viewableBy', values:models.Role.findAll() /}

    #{bootstrap.form.text 'object.ordre' /}

    <p class="crudButtons">
        <a class="btn btn-default" href="@{Categorys.list()}">&{'annuler'}</a>
        <input class="btn btn-primary" type="submit" name="_save" value="&{'bootstrap.crud.save', type.modelName}" />
    </p>
#{/form}