#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}
#{set panelTitle:messages.get('bootstrap.crud.show.title', type.modelName) /}

#{form action:@save(object._key()), enctype:'multipart/form-data'}
    #{if flash.title}
        #{bootstrap.form.text 'object.title', label:'title', value:flash.title /}
    #{/if}
    #{else}
        #{bootstrap.form.text 'object.title', label:'title', value:object.title /}
    #{/else}

    #{if flash.description}
        #{bootstrap.form.text 'object.description', label:'description', value:flash.description /}
    #{/if}
    #{else}
        #{bootstrap.form.text 'object.description', label:'description', value:object.description /}
    #{/else}

    #{bootstrap.form.category name:"object.parent", type:"select", selected:object.parent.id /}

    #{bootstrap.form.select 'object.viewableBy', values:models.Role.findAll(), select:object.viewableBy /}

    #{bootstrap.form.text 'object.ordre', value:object.ordre /}

    <p class="crudButtons">
        <a class="btn btn-default" href="@{Categorys.list()}">&{'annuler'}</a>
        <input class="btn btn-primary" type="submit" name="_save" value="&{'bootstrap.crud.save', type.modelName}" />
    </p>
#{/form}

#{form @delete(object._key())}
    <p class="crudDelete">
        <input class="btn btn-danger" type="submit" value="&{'bootstrap.crud.delete', type.modelName}" />
    </p>
#{/form}