#{if request.controller}
    <aside class="left-side sidebar-offcanvas">
        <section class="sidebar">
            #{if controllers.Security.isConnected() }
            %{
            loggedMember = controllers.Security.getLoggedMember();
            }%
            <div class="user-panel">
                <div class="pull-left image">
                    #{bootstrap.avatar loggedMember.avatar /}
                </div>
                <div class="pull-left info">
                    <p>${loggedMember}</p>
                    #{bootstrap.role loggedMember.getHighterRole() /}
                </div>
            </div>
            #{/if}

            #{include 'include/fo/sidebar-search.html' /}

            <ul class="sidebar-menu">
                #{include 'include/fo/sidebar-custom.html' /}
            </ul>
        </section>

        <section class="sidebar-footer">
            <a class="version" href="@{Version.history()}">&{'application.bootstrap.version'}</a>
        </section>
    </aside>
#{/if}