<div class="search-sidebar">
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="&{'sidebar.search.placeholder'}">
            <span class="input-group-btn"><button type="submit" name="seach" id="search-btn" class="btn btn-flat">
                <i class="fa fa-search"></i></button>
            </span>
        </div>
    </form>
</div>