#{extends 'bodyEmpty.html' /}
#{set 'containerClasses'}fo#{/set}

#{include 'include/fo/header/navbar.html' /}

<div class="wrapper row-offcanvas row-offcanvas-left">
    #{include 'include/fo/sidebar.html' /}

    <aside class="right-side #{if request.controller == null || !controllers.Security.isConnected()}strech#{/if}">
        <div class="pad">
            #{doLayout/}
        </div>
    </aside>
</div>

<footer class="footer">
    <ul class="footer-links">
        <li><a href="@{Contact.contact()}">&{'footer.links.contact'}</a></li>
    </ul>
</footer>