#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}
#{set panelTitle:messages.get('crud.list.title', type.name) /}

<div id="crudListTable" class="table-responsive">
    #{crud.table fields:['libelle', 'category', 'format', 'bytes']}
        #{crud.custom 'category'}
            #{bootstrap.category object.category /}
        #{/crud.custom}
        #{crud.custom 'format'}
            ${object.format}
        #{/crud.custom}
        #{crud.custom 'width'}
            ${object.width}x${object.height}
        #{/crud.custom}
        #{crud.custom 'bytes'}
            ${object.bytes.formatSize()}
        #{/crud.custom}
    #{/crud.table}
</div>

<p id="crudListAdd">
    <a class="btn btn-primary" href="@{create()}">&{'bootstrap.crud.add', type.modelName}</a>
    <a class="btn btn-primary" href="@{createMultiple()}">&{'bootstrap.cloudinary.add.multiple', type.modelName}</a>
</p>
